.wrapper
  / footer start
  .footer
    .content
      %div
        %a{:href => "http://www.mbaobao.com/", :rel => "nofollow"} 首页
        |
        %a{:href => "http://www.mbaobao.com/about-us.html", :rel => "nofollow"} 公司简介
        |
        %a{:href => "http://www.mbaobao.com/contact-us.html", :rel => "nofollow"} 联系我们
        |
        %a{:href => "http://www.mbaobao.com/events.html", :rel => "nofollow"} 大事记
        |
        %a{:href => "http://blog.mbaobao.com/dir/04", :target => "_blank"} 新闻联播
        |
        %a{:href => "http://www.mbaobao.com/jobs.html", :rel => "nofollow"} 诚聘英才
        |
        %a{:href => "http://www.mbaobao.com/links.html"} 友情链接
        |
        %a{:href => "http://www.mbaobao.com/cooperation.html", :rel => "nofollow"} 合作加盟
        |
        %a{:href => "http://www.mbaobao.com/wholesales.html", :rel => "nofollow"} 大宗批发
        |
        %a{:href => "http://www.maiyatang.com/", :target => "_blank"} 麦芽糖时尚网
        |
        %a{:href => "http://www.mbaobao.com/suggestion.html", :rel => "nofollow"} 投诉建议
        |
        %a{:href => "http://www.mbaobao.com/terms-of-use.html", :rel => "nofollow"} 网站制度
        |
        %a{:href => "http://www.mbaobao.com/how-to-register.html", :rel => "nofollow"} 帮助中心
        |
        %a{:href => "http://kd.mbaobao.com", :target => "_blank"} 快递查询
        |
        %a{:href => "http://www.bagsok.com", :target => "_blank"} 麦包国际站
        %br/
        %span{:style => "font-size:11px;"} Copyright &copy; 2007-2010 Mbaobao, All Rights Reserved.
        嘉兴市麦
        %a{:href => "http://www.mbaobao.com/"}> 包包
        皮具有限公司版权所有，禁止非法复制
        %a.beian{:href => "http://www.miibeian.gov.cn/", :rel => "nofollow", :target => "_blank"} 浙ICP备08014899号
      .logos
        %a{:href => "http://trust.alipay.com/", :rel => "nofollow", :target => "_blank"}
          %img{ :src => "http://www.mbaobao.com/templates/default/images/footer_logo_00.jpg"}/
        %a{:href => "http://www.ebworld.com.cn/huodong/071126B2C/show100.htm", :rel => "nofollow", :target => "_blank", }
          %img{ :src => "http://www.mbaobao.com/templates/default/images/footer_logo_02.jpg"}/
        %a{:href => "http://zjnet.zjaic.gov.cn", :rel => "nofollow", :target => "_blank"}
          %img{ :src => "http://www.mbaobao.com/templates/default/images/footer_logo_04.jpg"}/
        %a{:href => "http://www.idinfo.cn/SignHandle?userID=3304000000032097", :target => "_blank"}
          %img{ :border => "0", :src => "http://www.mbaobao.com/templates/default/images/i_lo2.gif"}/
  / footer end
/ footer wrapper end
