.wrapper
  / index_help start
  .index_help_box
    .icon_coffee
      %a{:href => "http://blog.mbaobao.com", :target => "_blank"}
        %img{ :height => "106", :src => "http://www.mbaobao.com/templates/default/images/new_homepage/icon_coffee.gif", :width => "102"}/
    %div
      .ftr
        %a{:href => "http://www.mbaobao.com/message/feedback.php", :target => "_blank"}
          %img{ :height => "158", :src => "http://www.mbaobao.com/templates/default/images/new_index/saysomeword.jpg", :width => "220"}/
      %dl.new
        %dt 新手指南
        %dd
          %a{:href => "http://www.mbaobao.com/how-to-register.html", :rel => "nofollow", :target => "_blank"} 用户注册
        %dd
          %a{:href => "http://www.mbaobao.com/how-to-order.html", :rel => "nofollow", :target => "_blank"} 购物流程
        / <dd><a href="policy.html" rel="nofollow" target="_blank">积分政策</a></dd>
        %dd
          %a{:href => "http://www.mbaobao.com/coupons/", :rel => "nofollow", :target => "_blank"} 优惠券说明
        %dd
          %a{:href => "http://www.mbaobao.com/agreement-of-register.html", :rel => "nofollow", :target => "_blank"} 会员注册协议
        %dd
          %a{:href => "http://www.mbaobao.com/user/points_view_level.php", :rel => "nofollow", :target => "_blank"} 会员积分详情
      %dl.payment
        %dt 如何付款
        %dd
          %a{:href => "http://www.mbaobao.com/payment-options.html", :rel => "nofollow", :target => "_blank"} 支付方式
        %dd
          %a{:href => "http://www.mbaobao.com/payment-options.html", :rel => "nofollow", :target => "_blank"} 货到付款
        %dd
          %a{:href => "http://www.mbaobao.com/icbc.html", :rel => "nofollow", :target => "_blank"} 工商网银付款说明
      %dl.deliver
        %dt 配送方式
        %dd
          %a{:href => "http://www.mbaobao.com/shipping-cost.html", :rel => "nofollow", :target => "_blank"} 配送费用收取标准
        %dd
          %a{:href => "http://www.mbaobao.com/cod.html", :rel => "nofollow", :target => "_blank"} 货到付款范围查询
      %dl.faq
        %dt 常见问题
        %dd
          %a{:href => "http://www.mbaobao.com/order-interpretation.html", :rel => "nofollow", :target => "_blank"} 订单查询
        %dd
          %a{:href => "http://www.mbaobao.com/find-the-password.html", :rel => "nofollow", :target => "_blank"} 找回密码
        / <dd><a href="http://www.mbaobao.com/user/question.php" rel="nofollow" target="_blank">在线留言</a></dd>
      %dl.refund
        %dt 售后服务
        %dd
          %a{:href => "http://www.mbaobao.com/return-policy.html#return-policy", :rel => "nofollow", :target => "_blank"} 退换货说明
        %dd
          %a{:href => "http://www.mbaobao.com/return-policy.html#return-process", :rel => "nofollow", :target => "_blank"} 退换货流程
        %dd
          %a{:href => "http://www.mbaobao.com/return-policy.html#refund", :rel => "nofollow", :target => "_blank"} 退款方式
        %dd
          %a{:href => "http://www.mbaobao.com/return-policy.html#contact-info", :rel => "nofollow", :target => "_blank"} 联系方式
        %dd
          %a{:href => "http://www.mbaobao.com/return-policy.html#address_for_return", :rel => "nofollow", :target => "_blank"} 退货地址
      %div{:style => "clear:both;"}
    .links_title
      %h2
        麦包包友情链接
        %span.more
          %a{:href => "http://www.mbaobao.com/links.html"} 更多链接...
  / index_help end

