.wrapper
  / index_links_box start
  .index_links_box
    .ftr
      %a{:href => "http://www.mbaobao.com/"}
        %img{ :src => "http://www.mbaobao.com/templates/default/images/new_homepage/btn_index_links_home.gif"}/
      \&nbsp;&nbsp;
      %a{:href => "http://www.mbaobao.com/#top"}
        %img{ :src => "http://www.mbaobao.com/templates/default/images/new_homepage/btn_index_links_top.gif"}/
    .links
      %ul
        %li
          %a.text{:href => "http://luntan.szxchina.com", :target => "_blank"} 十字绣
          |
          %a.text{:href => "http://www.591wed.com/", :target => "_blank"} 591结婚网
          |
          %a.text{:href => "http://www.yesmywine.com/", :target => "_blank"} 也买酒
          |
          %a.text{:href => "http://www.kela.cn/", :target => "_blank"} 珂兰钻石网
          |
          %a.text{:href => "http://www.pb89.com", :target => "_blank"} 太平鸟
          |
          %a.text{:href => "http://www.flowercn.com/", :target => "_blank"} 中国鲜花礼品网
          |
          %a.text{:href => "http://www.yifu.com/", :target => "_blank"} 衣服网
          |
          %a.text{:href => "http://www.buy007.com", :target => "_blank"} 奥迅运动城
          |
          %a.text{:href => "http://www.100fo.com", :target => "_blank"} 百纷网
          |
          %a.text{:href => "http://www.salala.com.cn", :target => "_blank"} 莎啦啦鲜花
          |
          %a.text{:href => "http://www.yoyo18.com/", :target => "_blank"} 优邮网
          |
          %a.text{:href => "http://www.xzuan.com/", :target => "_blank"} 新钻珠宝网
          |
        %li
          %a.text{:href => "http://www.justonline.cn/", :target => "_blank"} JUSTYLE
          |
  / index_links_box end
/ index_links wrapper end

