.operates
  =link_to '<<在其前添加', new_menu_path(:neighbor => resource.id, :direct => :above), :remote => true, :update => 'tooltip' unless resource.new_record?
  =link_to '在其后添加>>', new_menu_path(:neighbor => resource.id, :direct => :below), :remote => true, :update => 'tooltip', :style => 'float:right' unless resource.new_record?
= semantic_form_remote_for(resource) do |f|
  =hidden_field_tag :direct, params[:direct]
  =hidden_field_tag :neighbor, params[:neighbor]
  =f.inputs :name, :url
  =f.buttons do
    =f.commit_button '保存', :button_html => {'data-disable-with' => '正在提交...'}
    -unless resource.new_record?
      %li=link_to '删除', menu_path, :remote => true, :method => :delete
