//refresh image
-params[:menu].each_with_index do |menu_id, index|
  $("#menu_#{menu_id} > a").css('background-image', 'url(#{menu_bg_img}?#{Time.now.to_i})');

$("#menu_#{params[:menu].first}").parent().children().removeAttr('class').each(function(index){
$(this).addClass('menu_' + index);
});
