.bundle
db/*.sqlite3
log/*.log
tmp/**/*

#cucumber测试生成的临时文件
capybara-*.html

#自动生成的图片
public/images/logo/4*.png
public/images/menu/4*.png

#上传的图片
public/images/uploads/**

#去掉编译后的css文件(production环境下rails不处理静态文件)
#public/stylesheets/compiled/**

#不上传包含重要信息的文件
config/initializers/payment.rb

#vagrant
.vagrant
*.box
config/unicorn.conf.rb

#bundle deployment
vendor/bundle
