#content-top
  #content-bottom
    #content
      #main
        %h3 注册试用
        %p{:style => "margin-bottom: 10px"}
          %span{:style => "color: #777; font-size:11px"} 
            %em 以下信息都需要填写
        .user
          =semantic_form_for(resource, :url => registration_path(resource_name)) do |f|
            -if resource.store
              - resource.errors[:subdomain] = resource.store.errors[:subdomain][0]
            =f.semantic_errors :subdomain,:email,:password,:id => :error
            =f.inputs :subdomain, :for => :store
            =f.inputs :email, :password, :password_confirmation, :login
            =f.buttons do
              =f.commit_button '现在注册'
          = render :partial => "devise/shared/links"
      #secondary
        %h4 提示
        %ul
          %li 注册后可享受七天免费试用
