@charset "utf-8";
/*global */
* { margin: 0; padding: 0; }

body { font: 12px tahoma, arial, verdana, geneva, sans-serif; color: #333333; text-align: left; background: white; }

.wrapper { width: 960px; margin: 0 auto; }

img { border: 0; }

ul { list-style-type: none; margin: 0; padding: 0; }

a:link, a:visited { color: #333333; text-decoration: none; }
a:hover, a:active { color: #cc0000; text-decoration: none; }

select { font: 12px tahoma, arial, verdana, geneva, sans-serif; }

.hand { cursor: pointer; }

.tal { text-align: left; }

.tac { text-align: center; }

.tar { text-align: right; }

.vam { vertical-align: middle; }

.b { font-weight: bold; }

.red { color: red; }

a.red:link, a.red:visited, a.red:hover, a.red:active { color: red; }

.red_c00 { color: #cc0000; }

.red_f11f1f { color: #f11d1d; }

.gray { color: #999999; }

.white { color: white; }

.orange { color: #ff6600; }

a.orange:link, a.orange:visited, a.orange:hover, a.orange:active { color: #ff6600; }

/*辅助元素 */
.ajax_state { display: none; }

.hand { cursor: pointer; }

.strong { font-weight: 600; }

.hidden { display: none; overflow: hidden; }

.price { font-family: "Tahoma", "Courier New"; font-weight: 800; color: #cc0000; }

.captcha { cursor: pointer; }

input[type="text"].captcha { bblr: expression(this.onFocus=this.blur()); ime-mode: disabled; }

/*色彩元素 */
.red { color: #cc0000; }

a.red:link, a.red:visited { text-decoration: none; color: #cc0000; }
a.red:hover, a.red:active { text-decoration: underline; color: #cc0000; }

.blue { color: #6994d9; }

a.blue:link, a.blue:visited { text-decoration: none; color: #6994d9; }
a.blue:hover, a.blue:active { text-decoration: underline; color: #6994d9; }

.gray { color: #999999; }

a.gray:link, a.gray:visited { text-decoration: none; color: #999999; }
a.gray:hover, a.gray:active { text-decoration: underline; color: #999999; }

.green { color: green; }

a.green:link, a.green:visited { text-decoration: none; color: green; }
a.green:hover, a.green:active { text-decoration: underline; color: green; }

.orange { color: #ff6600; }

a.orange:link, a.orange:visited { text-decoration: none; color: #ff6600; }
a.orange:hover, a.orange:active { text-decoration: underline; color: #ff6600; }

.black { color: #333333; }

a.black:link, a.black:visited { text-decoration: none; color: #333333; }
a.black:hover, a.black:active { text-decoration: underline; color: #333333; }

/*字体大小元素 */
.f10 { font-size: 10px; }

.f12 { font-size: 12px; }

.f14 { font-size: 14px; }

.f16 { font-size: 16px; }

.f18 { font-size: 18px; }

.f20 { font-size: 20px; }

.f22 { font-size: 22px; }

.fb { font-weight: 600; }

.b { font-weight: bold; }

.dpn { display: none; }

.ftl { float: left; }

.ftr { float: right; }

.fs9 { font-size: 9px; }

.fs11 { font-size: 11px; }

.fs12 { font-size: 12px; }

.fs14 { font-size: 14px; }

.fs16 { font-size: 16px; }

.fs20 { font-size: 20px; }

.post_error { padding-left: 5px; color: red; }

.post_notice { padding-left: 5px; color: #84858a; }

.clear { clear: both; height: 0; overflow: hidden; }

/*Form */
form { margin: 0; padding: 0; }

input, textarea { font: 12px tahoma, arial, verdana, geneva, sans-serif; }

input.txt { padding: 2px; background: white; border: 1px solid #dcd9d4; color: #888888; }
input.txt_focus { border: 1px solid #cc0000; }
input.btn { padding: 2px; background: #e6f5ff; border: 1px solid #cccccc; cursor: pointer; }

textarea.txt { padding: 2px 0 2px 3px; vertical-align: middle; border: 1px solid #cccccc; background: white; color: #777777; }
textarea.txt_focus { border: 1px solid #cc0000; }

/*Page Loading */
#div_page_loading { padding: 5px; width: 180px; line-height: 35px; background: white; border: 1px solid #dddddd; text-align: center; }

#container { width: 960px; margin: 0 auto; text-align: left; }

/*header */
.header { border-top: 2px solid #993333; height: 69px; }
.header .logo { padding-left: 20px; }
.header .header_info { width: 580px; padding-right: 20px; text-align: right; }
.header .header_info .header_links_box { padding: 14px 0 0 0; font-size: 12px; }
.header .header_info .header_links_box div.links ul li { float: left; padding-left: 16px; background: url(/templates/mbaobao/images/homepage/bg_bar_01.gif) no-repeat 8px 5px; height: 16px; line-height: 16px; }
.header .header_info .header_links_box div.links ul li.no_bar { background-image: none; }
.header .header_info .header_links_box div.favorite { float: left; display: inline; background: url(/templates/mbaobao/images/homepage/icon_favorite.gif) no-repeat; padding-left: 22px; height: 16px; line-height: 16px; margin-left: 130px; }
.header .header_info .header_links_box div.favorite a { color: #ff6600; }
.header .header_info .header_links_box div.welcome { clear: both; padding-top: 11px; }

/*nav_box */
.nav_box { height: 79px; background: url(/templates/mbaobao/images/index/bg_nav_box.gif) repeat-x left bottom; }
.nav_box div.nav { width: 550px; }

ul#nav { padding: 28px 0 0 2px; height: 40px; }
ul#nav li { float: left; position: relative; height: 40px; }
ul#nav li a { /* 注意: display: block会导致cucumber测试拖动排序失败 */ display: block; text-indent: -900em; height: 40px; text-decoration: none; outline: none; }
ul#nav .nav_01 a:link, ul#nav .nav_01 a:visited { background-position: 0px 1px; width: 90px; }
ul#nav .nav_01 a.on, ul#nav .nav_01 a:hover, ul#nav .nav_01 a:active { background-position: 0px -41px; }
ul#nav .nav_02 a:link, ul#nav .nav_02 a:visited { background-position: -90px 1px; width: 89px; }
ul#nav .nav_02 a.on, ul#nav .nav_02 a:hover, ul#nav .nav_02 a:active { background-position: -90px -41px; }
ul#nav .nav_03 a:link, ul#nav .nav_03 a:visited { background-position: -179px 1px; width: 87px; }
ul#nav .nav_03 a.on, ul#nav .nav_03 a:hover, ul#nav .nav_03 a:active { background-position: -179px -41px; }
ul#nav .nav_04 a:link, ul#nav .nav_04 a:visited { background-position: -266px 1px; width: 79px; }
ul#nav .nav_04 a.on, ul#nav .nav_04 a:hover, ul#nav .nav_04 a:active { background-position: -266px -41px; }
ul#nav .nav_05 a:link, ul#nav .nav_05 a:visited { background-position: -345px 1px; width: 87px; }
ul#nav .nav_05 a.on, ul#nav .nav_05 a:hover, ul#nav .nav_05 a:active { background-position: -345px -41px; }
ul#nav .nav_06 a:link, ul#nav .nav_06 a:visited { background-position: -432px 1px; width: 90px; }
ul#nav .nav_06 a.on, ul#nav .nav_06 a:hover, ul#nav .nav_06 a:active { background-position: -432px -41px; }
ul#nav li dl.nav_list { display: none; position: absolute; left: 0; top: 40px; width: 240px; padding: 6px 8px 4px; border: 1px solid #cccccc; background-color: white; }
ul#nav li dl.nav_list dt { height: 20px; font-weight: bold; color: #a10000; line-height: 20px; padding-left: 13px; background: url(/templates/mbaobao/images/index/redfpoint.jpg) no-repeat 5px center; }
ul#nav li dl.nav_list dd { float: left; padding-bottom: 4px; overflow: hidden; }
ul#nav li dl.nav_list dd.fstpart ul { width: 240px; border-bottom: 1px solid #a10000; }
ul#nav li dl.nav_list ul { float: left; padding-bottom: 6px; }
ul#nav li dl.nav_list ul li { float: left; width: 107px; height: 20px; line-height: 20px; padding-left: 13px; }
ul#nav li dl.nav_list ul li a:link, ul#nav li dl.nav_list ul li a:visited, ul#nav li dl.nav_list ul li a:hover, ul#nav li dl.nav_list ul li a:active { display: block; height: 20px; width: 107px; line-height: 20px; background: none; text-indent: 0; }

/*子菜单* */
/*子菜单结束* */
.sub_nav_box { width: 348px; }

.nav_box div.sub_nav { padding-right: 17px; }
.nav_box div.sub_nav ul { height: 33px; background: url(/templates/mbaobao/images/index/btn_sub_nav.gif) no-repeat 0 0; }
.nav_box div.sub_nav ul li { float: left; }
.nav_box div.sub_nav ul li a:link, .nav_box div.sub_nav ul li a:visited, .nav_box div.sub_nav ul li a:hover, .nav_box div.sub_nav ul li a:active { display: block; float: left; text-indent: -900em; height: 33px; text-decoration: none; outline: none; color: white; background: url(/templates/mbaobao/images/index/btn_sub_nav.gif) no-repeat; }

#sub_nav_01 a:link, #sub_nav_01 a:visited { background-position: 0px top; width: 83px; }
#sub_nav_01 a.on, #sub_nav_01 a:hover, #sub_nav_01 a:active { background-position: 0px bottom; }

#sub_nav_02 a:link, #sub_nav_02 a:visited { background-position: -83px top; width: 78px; }
#sub_nav_02 a.on, #sub_nav_02 a:hover, #sub_nav_02 a:active { background-position: -83px bottom; }

#sub_nav_03 a:link, #sub_nav_03 a:visited { background-position: -161px top; width: 78px; }
#sub_nav_03 a.on, #sub_nav_03 a:hover, #sub_nav_03 a:active { background-position: -161px bottom; }

#sub_nav_04 a:link, #sub_nav_04 a:visited { background-position: -239px top; width: 90px; }
#sub_nav_04 a.on, #sub_nav_04 a:hover, #sub_nav_04 a:active { background-position: -239px bottom; }

#sub_nav_05 a:link, #sub_nav_05 a:visited { background-position: -317px top; width: 89px; }
#sub_nav_05 a.on, #sub_nav_05 a:hover, #sub_nav_05 a:active { background-position: -317px bottom; }

.sub_nav_box .top_cart { clear: both; padding: 14px 19px 0 0; }
.sub_nav_box .top_cart a.btn_cart, .sub_nav_box .top_cart a.btn_checkout, .sub_nav_box .top_cart a.btn_order { color: white; display: block; text-indent: -999em; height: 18px; background: url(/templates/mbaobao/images/homepage/btn_top_cart.gif) no-repeat; outline: none; }
.sub_nav_box .top_cart div.btn_cart { position: relative; z-index: 900; }
.sub_nav_box .top_cart div.btn_cart a.btn_cart { width: 114px; background-position: left 0; }
.sub_nav_box .top_cart div.btn_checkout a.btn_checkout { width: 50px; background-position: left -18px; }
.sub_nav_box .top_cart div.btn_order, .sub_nav_box .top_cart div.btn_checkout { margin-left: 10px; }
.sub_nav_box .top_cart div.btn_order a.btn_order { width: 61px; background-position: left -36px; }
.sub_nav_box .top_cart div.btn_cart div.box { position: absolute; width: 246px; padding-top: 6px; right: -78px; z-index: 999; }

.top_cart_box { border: 1px solid black; background: #f2f2f2; }
.top_cart_box ul { width: 230px; margin: 0 auto; }
.top_cart_box ul li { background: url(/templates/mbaobao/images/homepage/line_dot.gif) repeat-x center bottom; padding: 10px 0; }
.top_cart_box ul li div.pic { border: 1px solid #5d7bcc; padding: 1px; background: #dce2f4; }
.top_cart_box ul li div.text { width: 162px; line-height: 1.7; }
.top_cart_box div.sum { padding: 5px 10px 0 0; }
.top_cart_box div.btn { padding: 3px 10px 6px 0; }

/*search_box */
.top_search_box { border-top: 1px solid white; border-bottom: 1px solid white; background: #eaeaea; height: 37px; }
.top_search_box span.input { padding: 7px 0 0 19px; }
.top_search_box span.button { padding: 7px 0 0 10px; }
.top_search_box span.keywords { line-height: 35px; padding: 0 15px; color: #666666; }
.top_search_box span.keywords a:link, .top_search_box span.keywords a:visited { color: #666666; padding-left: 4px; }
.top_search_box span.keywords a:hover { color: #cc0000; }
.top_search_box span.phone { padding: 9px 20px 0 0; }
.top_search_box span.leave_word { padding-top: 5px; }

/*footer */
.footer { padding-top: 20px; border-top: 1px solid #e6e6e6; }
.footer .content { text-align: center; line-height: 22px; color: #333333; }
.footer .content a.beian:link { color: #e90101; }

#footer .content a.beian:visited { color: #e90101; }

.footer .content .logos { padding-bottom: 15px; }

/*pages box */
.page_all { width: 960px; }
.page_all .location { background: url(/templates/mbaobao/images/li_02.gif) no-repeat left 23px; padding-left: 15px; color: #999999; font-size: 11px; padding-top: 20px; padding-bottom: 5px; }
.page_all .eventlocation { border-bottom: 1px solid #dddddd; }
.page_all .location a:link, .page_all .location a:visited { font-size: 12px; }
.page_all .location span { font-size: 10px; font-family: 宋体; padding: 0 3px; }

/*list */
.page_main .left_box { width: 195px; float: left; }
.page_main .left_box .catalog, .page_main .left_box .product { border: 1px solid #efefef; padding: 18px 6px 11px 6px; }
.page_main .left_box .catalog dl { background: url(/templates/mbaobao/images/bg_catalog.gif) no-repeat center bottom; padding: 7px 0 7px 0; }
.page_main .left_box .catalog dl dt { font-size: 14px; font-weight: bold; padding: 9px 0 0 25px; }
.page_main .left_box .catalog dl dd { padding-left: 40px; line-height: 24px; color: #999999; }
.page_main .left_box .catalog dl dt a.on, .page_main .left_box .catalog dl dd a.on { color: #cc0000; }
.page_main .left_box .product div.pic { text-align: center; padding: 14px 0 10px 0; }
.page_main .left_box .product div.pic img { border: 1px solid #f1f1f1; }
.page_main .left_box .product div.box { width: 160px; margin: 0 auto; }
.page_main .left_box .product div.box div.title { line-height: 1.6; }
.page_main .left_box .product div.box div.detail { line-height: 20px; }
.page_main .left_box .product div.box div.detail span.price { color: #cc0000; font-weight: bold; font-size: 14px; }

.left_boxs { border: 1px solid #dddddd; clear: both; margin-top: 12px; }
.left_boxs h4 { height: 24px; line-height: 24px; font-size: 12px; padding-left: 10px; color: #666666; background: #eeeeee; }
.left_boxs .adv_search_box { padding: 0 10px 15px 10px; }
.left_boxs .adv_search_box span { padding-top: 12px; display: block; }
.left_boxs .adv_search_box span select { background: white; color: #666666; font-size: 12px; width: 173px; }
.left_boxs .adv_search_box span input.txtinput { width: 45px; height: 18px; color: #666666; background: white; font: 12px tahoma, arial, verdana, geneva, sans-serif; border: 1px solid #c4c4c4; }
.left_boxs ul.viewed_products { width: 192px; margin: 0 auto; padding-top: 10px; }
.left_boxs ul.viewed_products li { width: 96px; text-align: center; height: 115px; float: left; }
.left_boxs ul.viewed_products li img { border: 1px solid #dddddd; }
.left_boxs ul.viewed_products li div.pic { height: 90px; }
.left_boxs ul.viewed_products li div.text { color: #cc0000; font-weight: bold; text-align: left; padding-left: 8px; }

.page_main { padding-bottom: 20px; }
.page_main .right_box { width: 750px; float: right; }
.page_main .right_box .location { border-bottom: 1px solid #dddddd; background: url(/templates/mbaobao/images/li_02.gif) no-repeat left 23px; padding-left: 15px; color: #999999; font-size: 11px; padding-top: 20px; padding-bottom: 5px; }
.page_main .right_box .location a:link, .page_main .right_box .location a:visited { font-size: 12px; }
.page_main .right_box .location span { font-size: 10px; font-family: 宋体; padding: 0 3px; }
.page_main .center_box .location { border-bottom: 1px solid #dddddd; background: url(/templates/mbaobao/images/li_02.gif) no-repeat left 23px; padding-left: 15px; color: #999999; font-size: 11px; padding-top: 20px; padding-bottom: 5px; }
.page_main .center_box .location a:link, .page_main .center_box .location a:visited { font-size: 12px; }
.page_main .center_box .location span { font-size: 10px; font-family: 宋体; padding: 0 3px; }

/*amend recommend.html from laba */
/*order_categories */
.order_categories { border-bottom: 1px solid #dddddd; height: 30px; clear: both; margin-top: 20px; }
.order_categories div.left { float: left; }
.order_categories div.left span { float: left; }
.order_categories div.left span.txt { line-height: 30px; padding-left: 5px; }
.order_categories div.left span.btn { padding: 7px 0 0 10px; }
.order_categories div.left span.slt { padding: 5px 0 0 13px; }
.order_categories div.left span.slt select { background: white; color: #666666; font-size: 12px; }
.order_categories div.right { float: right; line-height: 28px; padding-right: 3px; }
.order_categories div.right a:link, .order_categories div.right a:visited { background: #c4c4c4; color: white; padding: 2px 4px; font: 12px tahoma, arial, verdana, geneva, sans-serif; }
.order_categories div.right a:hover { color: #cc0000; background: #dddddd; }
.order_categories .turn_pages_top { float: right; line-height: 28px; }

.turn_pages_top a.box { background: #bbbbbb; color: white; padding: 2px 5px; font-weight: bold; font-size: 14px; }
.turn_pages_top a:hover { background: #dddddd; }

/*product list */
.product_list ul, .products_box, .products_box_v { width: 748px; margin: 0 auto; padding: 20px 0 0 0; }

/*amend recommend.html from laba */
.page_main .center_box .product_list ul { width: 935px; margin: 0 auto; padding: 20px 0 0 0; }

/*amend recommend.html from laba */
.product_list ul li, .product_list_all .product_box, .product_list .products_box_v .product_box { width: 187px; height: 320px; float: left; text-align: center; }

.product_list_all ul, .products_box { width: 950px; }

.product_list_all ul li { width: 190px; }
.product_list_all .product_box { width: 190px; float: left; }

.product_list ul li div.pic, .product_list .product_box div.pic { height: 170px; }
.product_list ul li div.pic img, .product_list .product_box div.pic img { border: 1px solid #f1f1f1; padding: 1px; }
.product_list ul li div.pic a:hover img, .product_list .product_box div.pic a:hover img { border: 1px solid #ea7b5a; }
.product_list ul li div.text, .product_list .product_box div.text { line-height: 20px; text-align: left; padding: 0 8px; }
.product_list ul li div.text div.title, .product_list .product_box div.text div.title { /*height: 43px; overflow:hidden; */ min-height: 43px; _height: 43px; }
.product_list ul li div.text div.title span.promotion_red, .product_list .product_box div.text div.title span.promotion_red { color: #cc0000; }
.product_list ul li div.text span.price, .product_list .product_box div.text span.price { color: #cc0000; font-weight: bold; font-size: 14px; }

.product_list_all ul li div.text div.title, .product_list_all .product_box div.text div.title { /*height: 43px; overflow:hidden; */ min-height: 43px; _height: 43px; }
.product_list_all ul li div.text div.title span.promotion_red, .product_list_all .product_box div.text div.title span.promotion_red { color: #cc0000; }

.product_list ul li div.text span.buy, .product_list .product_box div.text span.buy { display: block; padding-top: 6px; }
.product_list div.none { height: 100px; line-height: 100px; text-align: center; font-weight: bold; font-size: 14px; color: #cc0000; }

.product_list_all ul.active_list { padding: 0; }
.product_list_all ul.active_list li { height: 320px; padding: 0; }

/*turn pages */
.turn_pages, .turn_pages_search { text-align: center; clear: both; border-top: 1px dashed #cccccc; padding: 20px 0; }

.turn_pages a.box { background: #c4c4c4; color: white; padding: 2px 4px; }
.turn_pages a.num { padding: 0 3px; font: 12px tahoma, arial, verdana, geneva, sans-serif; font-weight: bold; }
.turn_pages span.num { color: #cc0000; padding: 0 3px; font-weight: bold; }
.turn_pages a:hover { color: #cc0000; background: #dddddd; }

.turn_pages_search a.box { background: #bbbbbb; color: white; padding: 2px 6px; font-size: 14px; font-weight: bold; }
.turn_pages_search a.num { padding: 0 3px; font: 14px tahoma, arial, verdana, geneva, sans-serif; font-weight: bold; }
.turn_pages_search span.num { color: #cc0000; padding: 0 3px; font-weight: bold; font-size: 14px; }
.turn_pages_search a:hover { background: #dddddd; }

/*left & right & main module */
h2.left_module, h2.right_module, h2.main_module { background: #eeeeee; border-top: 1px solid #dddddd; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; font-size: 12px; height: 26px; line-height: 25px; padding-left: 10px; overflow: hidden; }
h2.left_module a, h2.right_module a, h2.main_module a { font-weight: bold; }

div.left_module, div.right_module, div.main_module { border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; }

/*member center */
.member_container { width: 960px; }

/*error */
.error { width: 670px; margin: 0 auto; padding-bottom: 20px; }
.error div.left { padding-top: 50px; width: 135px; float: left; }
.error div.main { float: left; padding-top: 40px; }
.error div.main a { color: #cc0000; text-decoration: underline; }
.error div.main h2 { line-height: 42px; color: #ce1919; font-size: 16px; }
.error div.main span { background: #b7a99c; padding: 2px 6px; }
.error div.main span a { color: white; text-decoration: none; }
.error div.main p { padding-top: 20px; line-height: 22px; }
.error div.main ul { line-height: 22px; padding: 5px 0 0 20px; }

/*checkout success */
.checkout { padding-top: 30px; }
.checkout div.success { text-align: center; border: 1px solid #dddddd; padding: 30px 0; }
.checkout div.success h2 { color: #cc0000; font-size: 16px; }
.checkout div.success p { padding-top: 10px; font-size: 14px; line-height: 26px; }
.checkout div.success p span { text-decoration: underline; color: #cc0000; }
.checkout div.success p strong { color: #ff9900; }

/*common_form */
.common_form { width: 786px; margin: 0 auto; }

table.common { border-collapse: collapse; margin: 0 auto; padding: 0px; text-align: left; width: 786px; }
table.common td { border: 1px solid #dddddd; padding: 0 5px; }
table.common thead tr { background: #eeeeee; height: 28px; text-align: center; font-weight: bold; }
table.common tbody tr { height: 25px; text-align: center; }

.bg_comment { background: url(/templates/mbaobao/images/bg_comment.gif) repeat-x; height: 17px; line-height: 17px; }
.bg_comment span { padding: 4px 5px 0 7px; float: left; }

/*2009.11.10 page_links */
.page_links { border-top: 1px solid #e6e6e6; padding: 10px 0; line-height: 1.6; color: #cccccc; }
.page_links strong { color: #333333; }

/* 透明浮层 */
.alpha50_png, .alpha50_color { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; z-Index: 5999; }

.alpha50_png { background-image: url("/templates/mbaobao/images/alpha50.png"); background-repeat: repeat; }

.alpha50_color { background-image: none; background-color: black; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; height: 768px; }

/*ads_banner_top_20091118 */
.ads_banner_top { padding-bottom: 1px; }

/*index_help */
.index_help_box { position: relative; width: 960px; height: 204px; background: url(/templates/mbaobao/images/homepage/bg_index_help.gif) repeat-x; margin-top: 1px; z-index: 3; clear: both; }
.index_help_box dl { float: left; height: 158px; background: url(/templates/mbaobao/images/homepage/bg_index_help_bar.gif) no-repeat right top; padding-left: 25px; line-height: 1.5; }
.index_help_box dl dt { font-weight: bold; padding-top: 20px; }
.index_help_box dl dd { background: url(/templates/mbaobao/images/homepage/arrow_02.gif) no-repeat 1px 8px; padding-left: 11px; }
.index_help_box dl.new { padding-left: 35px; width: 115px; }
.index_help_box dl.payment { width: 140px; }
.index_help_box dl.refund { width: 85px; background-image: none; }
.index_help_box dl.deliver { width: 148px; }
.index_help_box dl.faq { width: 100px; }
.index_help_box div.icon_coffee { position: absolute; top: 88px; left: 438px; }
.index_help_box div.links_title { background: url(/templates/mbaobao/images/homepage/line_links.gif) no-repeat center bottom; height: 46px; }
.index_help_box div.links_title h2 { font-size: 12px; padding: 20px 0 0 3px; }
.index_help_box div.links_title h2 span.gray { font-weight: normal; }
.index_help_box div.links_title h2 span.more { float: right; padding-right: 10px; font-weight: normal; }

.index_links_box { height: 37px; overflow: hidden; }
.index_links_box div.links { line-height: 37px; }
.index_links_box div.ftr { padding: 10px 0 0 5px; }

/*20100202global_notes */
.global_notes { width: 960px; text-align: center; border: 2px solid #ffd0a8; padding: 6px 0; background: #ffffee; color: #cc0000; margin: 5px auto; }
.global_notes div.text { padding: 0 20px; line-height: 1.6; }

.presale_icon { position: absolute; top: 6px; left: 130px; }

/*底部滚动条* */
#fixed_bottom { position: fixed; z-index: 500; width: 100%; bottom: 0; border-top: 1px solid #bfbfbf; left: 0; _position: absolute; _bottom: auto; }
#fixed_bottom .fixed_bottom_bgc { width: 100%; background-color: rgba(227, 227, 227, 0.8); background-color: #e3e3e3 \0; *background-color: #e3e3e3; filter: alpha(opacity=80); }
#fixed_bottom .fixed_bottom_bgc .fixed_bottom_tm { width: 960px; position: relative; margin: 0 auto; height: 40px; }
#fixed_bottom .fixed_bottom_l { float: left; width: 360px; line-height: 20px; padding: 10px 10px 10px 5px; border-right: 1px solid #bfbfbf; position: relative; }
#fixed_bottom .fixed_bottom_l .footadv { position: absolute; left: 10px; top: -38px; display: inline; }
#fixed_bottom .fixed_bottom_l h5 { float: left; font-size: 12px; color: #cc0000; height: 20px; padding-left: 100px; padding-right: 8px; }
#fixed_bottom .fixed_bottom_l a:link, #fixed_bottom .fixed_bottom_l a:visited, #fixed_bottom .fixed_bottom_l a:hover, #fixed_bottom .fixed_bottom_l a:active { color: #cc0000; }
#fixed_bottom .fixed_bottom_m { float: left; width: 280px; line-height: 20px; padding: 10px 20px; border-left: 1px solid #fdfdfd; border-right: 1px solid #bfbfbf; position: relative; }

#fixed_bottom_mlist { height: 20px; overflow: hidden; }

#fixed_bottom .fixed_bottom_m ul li { height: 20px; line-height: 20px; }
#fixed_bottom .fixed_bottom_m ul li a:link, #fixed_bottom .fixed_bottom_m ul li a:visited, #fixed_bottom .fixed_bottom_m ul li a:hover, #fixed_bottom .fixed_bottom_m ul li a:active { color: #cc0000; }
#fixed_bottom .fixed_bottom_r { float: left; width: 240px; line-height: 20px; padding: 10px 10px 10px 10px; border-left: 1px solid #fdfdfd; background: url(/templates/mbaobao/images/index/notebook.png) no-repeat right center; position: relative; }
#fixed_bottom .fixed_bottom_r h5 { float: left; font-size: 12px; color: #cc0000; height: 20px; padding-left: 40px; padding-right: 8px; background: url(/templates/mbaobao/images/index/jiantou.png) no-repeat 5px center; }
#fixed_bottom .fixed_bottom_r a:link, #fixed_bottom .fixed_bottom_r a:visited, #fixed_bottom .fixed_bottom_r a:hover, #fixed_bottom .fixed_bottom_r a:active { color: #cc0000; }

/*控制具体商品里的表格* */
.select_content table { margin: 0 auto; }
