body { font: 12px tahoma, arial, verdana, geneva, sans-serif; }

.tooltip { z-index: 999; background-color: #fffff0; border: 1px solid #cccccc; display: none; text-align: left; font-size: 12px; }
.tooltip .operates { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; line-height: 26px; margin-left: 15px; }
.tooltip .operates li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
.tooltip .operates li:first-child, .tooltip .operates li.first { padding-left: 0; }
.tooltip .operates li:last-child, .tooltip .operates li.last { padding-right: 0; }

/* override the arrow image of the tooltip */
.tooltip .bottom { padding-top: 40px; height: 55px; }

.container_operates { background-color: #dddddd; height: 10px; }

.container_24 .grid_24.root { margin-top: 14px; }

.qtip ul li { padding: 2px 0; }

#edittip { z-index: 600; position: absolute; background-color: #ccffcc; padding: 4px; border: 2px solid #99cc99; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

#simplemodal-container a.modalCloseImg { background: url(/images/x.png) no-repeat; width: 25px; height: 29px; display: inline; z-index: 3200; position: absolute; top: -15px; right: -18px; cursor: pointer; }

#loading-indicator { position: fixed; left: 20px; top: 30px; display: none; font-size: 14px; color: black; }

.tree { height: 500px; overflow-y: auto; }
