.tooltip { z-index: 999; background-color: white; border: 1px solid #cccccc; width: 300px; display: none; text-align: left; font-size: 12px; outline-radius: 4px; -moz-outline-radius: 4px; -webkit-outline-radius: 4px; overflow: auto; /* ul li float: left padding: 5px */ }

/* override the arrow image of the tooltip */
.tooltip .bottom { padding-top: 40px; height: 55px; }

.container_operates { background-color: #dddddd; height: 10px; }

.container { min-height: 185px; }
