@font-face { font-family: "yahei"; src: local("yahei"), url(/images/logo/yahei.ttf) format('truetype'); }

@font-face { font-family: "haibao"; src: local("haibao"), url(/images/logo/haibao.ttf) format('truetype'); }

@font-face { font-family: "liuye"; src: local("liuye"), url(/images/logo/liuye.ttf) format('truetype'); }

@font-face { font-family: "katong"; src: local("katong"), url(/images/logo/katong.ttf) format('truetype'); }

.add { background: url('/images/photomaker.png?1280312920'); }

.upload { background: url('/images/photomaker.png?1280312920') 0 -32px; }

.generate { background: url('/images/photomaker.png?1280312920') 0 -64px; }

.yahei { background: url('/images/photomaker.png?1280312920') 0 -96px; }

.haibao { background: url('/images/photomaker.png?1280312920') 0 -128px; }

.katong { background: url('/images/photomaker.png?1280312920') 0 -160px; }

.liuye { background: url('/images/photomaker.png?1280312920') 0 -192px; }

.small { background: url('/images/photomaker.png?1280312920') 0 -224px; }

.middle { background: url('/images/photomaker.png?1280312920') 0 -256px; }

.big { background: url('/images/photomaker.png?1280312920') 0 -288px; }

.red { background: url('/images/photomaker.png?1280312920') 0 -320px; }

.green { background: url('/images/photomaker.png?1280312920') 0 -352px; }

.blue { background: url('/images/photomaker.png?1280312920') 0 -384px; }

.logo_bg { background: url('/images/photomaker.png?1280312920') 0 -416px; }

.banner_bg { background: url('/images/photomaker.png?1280312920') 0 -448px; }

.focus_bg { background: url('/images/photomaker.png?1280312920') 0 -480px; }
