=content_tag_for :dl, item, :class => :editable do
  %dt
    .title=link_to item.name, item.url
  %dd
    %ul.sortable{:sort_url => sort_hots_path}=render :partial => "hots/child", :collection => item.children, :locals => { :collection => item.children }
