#members
  = render :partial => "/orders/step", :locals => { :step => 1 }
  .grid_20.root
    .grid_10.alpha
      .box
        %h2=image_tag 'templates/vancl/members/login.gif'
        = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %p.tip 已注册用户请从这里登录
          -if flash[:alert]
            %p.error=flash[:alert]
          =f.inputs do
            =f.input :email, :required => false, :label => '用户名：', :hint => '请输入您的Email地址'
            =f.input :password, :required => false, :label => '密　码：',  :hint => false
          %p.remember
            =check_box_tag :remember_me, 1, false, :id => :member_remember_me
            = f.label :remember_me
          =f.buttons do
            =f.commit_button '登录', :button_html => { :type => :image, :src => '/images/templates/vancl/members/btn_login.gif' }
    .grid_10.omega
      .box
        %h2=image_tag 'templates/vancl/members/signup.gif'
        =semantic_form_remote_for(resource, :url => registration_path(resource_name)) do |f|
          %p.tip 注册会员可以享受更多优惠，保存积分
          %p.error#error_explanation
          =f.inputs do
            =f.input :email, :required => false, :input_html => { :id => :sign_up_email }
            =f.input :password, :required => false, :input_html => { :id => :sign_up_password }
            =f.input :password_confirmation, :required => false
            =f.input :login, :required => false
          =f.buttons do
            =f.commit_button '完成', :button_html => { :type => :image, :src => '/images/templates/vancl/members/btn_signup.gif' }
