.products_head
  =link_to '/' do
    =image_tag products_head.image.url, :class => 'image_editable', :id => id(products_head.image), :width => products_head.image.width, :height => products_head.image.height, :alt => '商品列表标题'
