%h3 请完成网店基本配置信息，以后如需修改，请点击右上角的[设置]
-#左右分栏需要form class(web-app-theme.css)
= semantic_form_remote_for(store, :html => { :class => 'form' }) do |f|
  .columns.wat-cf
    .column.left
      =f.inputs :name, :title, :description, :keywords
      =f.inputs :id => :region do
        %li.select_group
          =f.inputs :name => '所在地区' do
            =f.input :province, :label => false, :include_blank => '请选择省/直辖市', :collection => District.list
            =f.input :city, :label => false, :include_blank => '请选择市', :collection => District.list(store.province)
            =f.input :district, :label => false, :include_blank => '请选择县/区', :collection => District.list(store.city)
      =f.inputs :detail
      =f.buttons do
        =f.commit_button '下一步', :button_html => { 'data-disable-with' => '正在提交...' }
    .column.right

= javascript_include_tag 'district'
