%h3 请输入支付信息
=raw jqgrid("支付信息", "payments", "/payments", 
  [{ :field => "name", :label => "名称", :width => 70 },
  { :field => "account", :label => "帐号", :editable => true },
  { :field => "partnerid", :label => "合作者身份ID", :editable => true },
  { :field => "verifycode", :label => "交易安全校验码", :editable => true }] ,
  {:autowidth=>true, :search=>false, :edit=>true, :inline_edit=>true, :edit_url=>"#{post_data_payments_path}"})
