/ ads_banner_top start
.ads_banner_top
  %a{:href => "http://www.mbaobao.com/cps/5628", :target => "_blank"}
    %img{ :src => "http://images.mbaobao.com/activity/201007/01/sales_200_banner.jpg", :width => "960"}/
/ ads_banner_top end
