#logo.editable{'edit-width' => '960px', 'edit-height' => '300px', 'edit-type' => :images, 'edit-id' => resource.logo.image_id, :relate_dom_id => :logo, :callback_url => '/pages/logo'}
  =link_to '/' do
    =image_tag resource.logo.url
