#logo.editable{:style => "position:absolute;top:22px;left:21px;", 'edit-type' => :images, 'edit-id' => resource.logo.image_id, :relate_dom_id => :logo}
  =link_to '/' do
    =image_tag resource.logo.url
