/ nav_box start
#dom_nav_box.nav_box
  .nav.ftl
    / nav start
    %ul#nav
      %li.nav_01.on
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/"} 首页
      %li.nav_02
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/k-women/"} 女包
        %dl.nav_list
          %dt 特别关注
          %dd.fstpart
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/r-winp/", :target => "_blank"} 春夏新款靓包
              %li
                %a{:href => "http://www.mbaobao.com/r-iwj/", :target => "_blank"} 季度热销推荐
          %dd
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/c-2/", :target => "_blank"} 单肩包
              %li
                %a{:href => "http://www.mbaobao.com/k-womanxk/", :target => "_blank"} 斜挎包
              %li
                %a{:href => "http://www.mbaobao.com/k-womanst/", :target => "_blank"} 手提包
              %li
                %a{:href => "http://www.mbaobao.com/c-6/", :target => "_blank"} 单肩/斜挎两用包
              %li
                %a{:href => "http://www.mbaobao.com/k-womanstxk/", :target => "_blank"} 手提/斜挎两用包
              %li
                %a{:href => "http://www.mbaobao.com/k-womanwallet/", :target => "_blank"} 钱包
              %li
                %a{:href => "http://www.mbaobao.com/k-womanhandbag/", :target => "_blank"} 手包
              %li
                %a{:href => "http://www.mbaobao.com/c-11/", :target => "_blank"} 胸包
      %li.nav_03
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/k-men/"} 男包
        %dl.nav_list
          %dt 特别关注
          %dd.fstpart
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/r-minp/", :target => "_blank"} 经典商务男包
              %li
                %a{:href => "http://www.mbaobao.com/r-imj/", :target => "_blank"} 季度热销推荐
          %dd
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/c-16/", :target => "_blank"} 公文包
              %li
                %a{:href => "http://www.mbaobao.com/k-mankuabag/", :target => "_blank"} 斜肩包
              %li
                %a{:href => "http://www.mbaobao.com/k-manwallet/", :target => "_blank"} 钱包
              %li
                %a{:href => "http://www.mbaobao.com/k-manhandbag/", :target => "_blank"} 手包
              %li
                %a{:href => "http://www.mbaobao.com/k-mantwobag/", :target => "_blank"} 手提/斜肩两用包
              %li
                %a{:href => "http://www.mbaobao.com/c-37/", :target => "_blank"} 皮带
      %li.nav_04
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/k-leather/"} 真皮
        %dl.nav_list
          %dt 特别关注
          %dd.fstpart
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/r-classics/", :target => "_blank"} 经典款真皮包
          %dd
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/k-leatherwoman/", :target => "_blank"} 真皮女包
              %li
                %a{:href => "http://www.mbaobao.com/k-leatherman/", :target => "_blank"} 真皮男包
              %li
                %a{:href => "http://www.mbaobao.com/k-leatherpurse/", :target => "_blank"} 真皮钱包
              %li
                %a{:href => "http://www.mbaobao.com/k-leatherbelt/", :target => "_blank"} 真皮腰带
              %li
                %a{:href => "http://www.mbaobao.com/k-leatherother/", :target => "_blank"} 真皮配饰
      %li.nav_05
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/c-17/"} 数码包
        %dl.nav_list
          %dt 特别关注
          %dd.fstpart
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/r-cidp/", :target => "_blank"} 新款电脑包
              %li
                %a{:href => "http://www.mbaobao.com/r-idj/", :target => "_blank"} 季度热销推荐
          %dd
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/k-sjcomputerbag/", :target => "_blank"} 双肩电脑包
              %li
                %a{:href => "http://www.mbaobao.com/k-stcomputerbag/", :target => "_blank"} 手提电脑包
              %li
                %a{:href => "http://www.mbaobao.com/k-incomputer/", :target => "_blank"} 电脑内胆包
              %li
                %a{:href => "http://www.mbaobao.com/c-19/", :target => "_blank"} 相机包
      %li.nav_06
        %a.dom_indexmenu{:href => "http://www.mbaobao.com/c-40/"} 旅行包
        %dl.nav_list
          %dd
            %ul
              %li
                %a{:href => "http://www.mbaobao.com/c-42/", :target => "_blank"} 拉杆箱
              %li
                %a{:href => "http://www.mbaobao.com/c-41/", :target => "_blank"} 旅行包
              %li
                %a{:href => "http://www.mbaobao.com/c-44/", :target => "_blank"} 双肩包
              %li
                %a{:href => "http://www.mbaobao.com/c-24/", :target => "_blank"} 书包
      / 
    / nav end
    .clear
  .sub_nav_box.ftr
    .sub_nav
      / 
      %ul#sub_nav
        %li#sub_nav_01
          %a.dom_indexmenu{:href => "http://www.mbaobao.com/goods/search.php"} 选包包
        %li#sub_nav_02
          %a.dom_indexmenu{:href => "http://www.mbaobao.com/activity.html"} 包包活动
        %li#sub_nav_03
          %a.dom_indexmenu{:href => "http://www.mbaobao.com/cps/3721"} 新品上市
        %li#sub_nav_04
          %a.dom_indexmenu{:href => "http://blog.mbaobao.com", :target => "_blank"} 博客
      / sub_nav end
      .clear
    #top_cart_box_event.top_cart
      .btn_checkout.ftr
        %a.btn_checkout{:href => "http://www.mbaobao.com/goods/cart.php", :rel => "nofollow"} 去结算
      #top_cart_btn.btn_cart.ftr
        %a.btn_cart{:href => "http://www.mbaobao.com/goods/cart.php"} 我的购物车
        / top_cart_box start
        #top_cart_box.box.dpn
          .top_cart_box
            #top_cart_goods_list
            .btn.tar
              %a{:href => "http://www.mbaobao.com/goods/cart.php", :rel => "nofollow"}
                %img{ :src => "http://www.mbaobao.com/templates/default/images/new_homepage/btn_top_checkout.gif"}/
            %div{:style => "clear:both;"}
        / top_cart_box end
  .clear
/ nav_box end
