/ header start
.header
  .header_info.ftr
    .header_links_box
      .links.ftr
        %ul
          %li.no_bar
            %a{:href => "http://www.mbaobao.com/user/"} 会员中心
          %li
            %a{:href => "http://www.mbaobao.com/query_order/query_order.php", :style => "color:#c00;", :target => "_blank"} 订单查询
          %li
            %a{:href => "http://www.mbaobao.com/sitemap.html"} 网站导航
          %li
            %a{:href => "http://www.mbaobao.com/how-to-order.html", :target => "_blank"} 帮助
          %li
            %a{:href => "http://www.baobao178.com", :target => "_blank"} 包包批发
          %li
            %a{:href => "http://www.mbaobao.com/goods/similar.php"} 相似推荐
      .welcome
        您好，欢迎光临时尚包包流行第一站：麦包包！ [
        %a{:href => "http://www.mbaobao.com/user/register.php", :rel => "nofollow"}
          %span.orange.b 注册
        \/
        %a{:href => "http://www.mbaobao.com/user/login.php", :rel => "nofollow", :target => "_blank"}
          %span.orange.b 登录
        ]
  .clear
/ header end
