#welcome
  您好，欢迎光临凡客诚品。
  %a{:href => "http://www.mbaobao.com/user/register.php", :rel => "nofollow"}
    %span.orange.b 注册
  \|
  %a{:href => "http://www.mbaobao.com/user/login.php", :rel => "nofollow", :target => "_blank"}
    %span.orange.b 登录
