html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

p img {
  border: 1px #333333 solid; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* end of reset */
body {
  font: 13px "Lucida Grande", helvetica, tahoma, arial, clean, sans-serif;
  *font-size: 72%;
  *font: x-small; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% "Lucida Grande", helvetica, tahoma, arial, clean, sans-serif;
  vertical-align: middle; }

pre, code {
  font: 115% monospace;
  *font-size: 100%; }

/*end Yahoo Fonts */
/* @end */
/* @group Basic Layout */
body {
  font-family: "HelveticaNeue", Helvetica, Verdana, sans-serif;
  padding: 0 20px;
  background: #d5dde6;
  line-height: 1.5; }

#wrapper {
  width: 910px;
  margin: 0 auto; }

a {
  color: #0066cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* @end */
/* @group Quick Links */
#quicklinks {
  height: 33px;
  position: relative; }
  #quicklinks a {
    display: block;
    position: absolute;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    top: 8px; }

li#manage a {
  right: 5px;
  width: 145px;
  background: url(../images/button_manage_header.gif) no-repeat; }
li#signup a {
  right: 157px;
  width: 70px;
  background: url(../images/button_signup_header.gif) no-repeat; }

/* @end */
/* @group Header */
#header {
  float: left;
  clear: left;
  width: 100%;
  background: white url(../images/white.gif) repeat-y;
  margin: 0 0 30px -2px;
  display: inline; }
  #header .wrapper {
    float: left;
    background: url(../images/white_top.gif) no-repeat;
    width: 100%;
    position: relative;
    height: 150px; }

.bindex #header .wrapper {
  height: auto; }

#header h1 a {
  display: block;
  width: 271px;
  height: 87px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/logo_sub.jpg) no-repeat 0 0;
  position: absolute;
  top: 8px;
  left: 7px; }

.bindex #header h1 a {
  width: 392px;
  height: 204px;
  background: url(../images/logo.jpg) no-repeat;
  top: 50%;
  left: 40px;
  margin-top: -117px; }

#header h2 {
  position: absolute;
  left: 562px;
  top: 41px;
  height: 29px;
  width: 268px;
  text-indent: -9999px;
  background: url(../images/title_built_sub.gif) no-repeat; }

.bindex #header h2 {
  left: 495px;
  top: 55px;
  height: 36px;
  width: 325px;
  background: url(../images/title_built_home.gif) no-repeat; }

#header p {
  padding: 95px 60px 105px 498px;
  color: #444444; }
  #header p.hide {
    margin: 0;
    padding: 0;
    text-indent: -9999px; }

#navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 910px;
  background: url(../images/menu.jpg) no-repeat; }
  #navigation li {
    display: inline; }
    #navigation li a {
      display: block;
      position: absolute;
      height: 55px;
      top: 0;
      overflow: hidden;
      text-indent: -9999px;
      background: url(../images/menu.jpg) no-repeat; }

li#our a {
  left: 28px;
  width: 154px;
  background-position: -28px 0; }
li#why a {
  left: 182px;
  width: 186px;
  background-position: -182px 0; }
li#fea a {
  left: 368px;
  width: 130px;
  background-position: -368px 0; }
li#que a {
  left: 498px;
  width: 155px;
  background-position: -498px 0; }
li#con a {
  left: 653px;
  width: 127px;
  background-position: -653px 0; }
li#new a {
  left: 780px;
  width: 102px;
  background-position: -780px 0; }
li#our a:hover {
  background-position: -28px -55px; }
li#why a:hover {
  background-position: -182px -55px; }
li#fea a:hover {
  background-position: -368px -55px; }
li#que a:hover {
  background-position: -498px -55px; }
li#con a:hover {
  background-position: -653px -55px; }
li#new a:hover {
  background-position: -780px -55px; }

.bours li#our a {
  background-position: -28px -55px; }
  .bours li#our a:hover {
    background-position: -28px -55px; }

.bwhy li#why a {
  background-position: -182px -55px; }
  .bwhy li#why a:hover {
    background-position: -182px -55px; }

.bfeatures li#fea a {
  background-position: -368px -55px; }
  .bfeatures li#fea a:hover {
    background-position: -368px -55px; }

.bquestions li#que a {
  background-position: -498px -55px; }
  .bquestions li#que a:hover {
    background-position: -498px -55px; }

.bcontact li#con a {
  background-position: -653px -55px; }
  .bcontact li#con a:hover {
    background-position: -653px -55px; }

.bnew li#new a {
  background-position: -780px -55px; }
  .bnew li#new a:hover {
    background-position: -780px -55px; }

/* @end */
/* @group Content */
#content-top {
  padding-top: 22px;
  width: 906px;
  background: url(../images/content-top.gif) no-repeat top left;
  float: left;
  margin: 0 0 20px; }

#content-bottom {
  padding-bottom: 35px;
  width: 906px;
  background: url(../images/content-bottom.gif) no-repeat bottom left;
  float: left; }

#content {
  padding: 0 20px 0 32px;
  width: 906px;
  width: 854px;
  background: url(../images/content.gif) repeat-y top left;
  float: left;
  color: #444444; }

.bindex #content {
  padding: 0 10px 35px 10px;
  width: 910px;
  background: url(../images/table.jpg) no-repeat 10px 65px;
  width: 890px; }

#content a {
  color: #0066cc;
  font-weight: bold; }
#content h3 {
  font-size: 220%;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 15px;
  color: #111111;
  padding: 0; }
  #content h3 a {
    color: #111111; }
#content h5 {
  color: #999999; }

#secondary form {
  margin: 0 0 15px; }

#content h6 {
  font-size: 140%;
  color: #666666;
  margin: 0 0 15px; }

label {
  display: block; }

#contact_author, #contact_author_email, #contact_subject {
  width: 350px; }

#contact_body {
  width: 98%;
  height: 200px; }

#secondary form #q {
  width: 190px; }

pre {
  margin: 0 0 15px; }

code {
  font-size: 92%; }

#content h4 {
  font-size: 165%;
  font-weight: bold;
  margin: 0 0 15px;
  color: #333333;
  padding: 0; }

.bindex #content h4 {
  margin-bottom: 5px; }

#plans {
  width: 450px;
  float: left;
  margin-bottom: 30px;
  display: inline; }

table {
  border-collapse: collapse;
  width: 100%; }
  table td {
    border-bottom: 1px solid #c7cfd7;
    padding: 8px 10px; }
  table th {
    background: #aac5e1;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #4b4e51;
    font-weight: bold; }
    table th.plan {
      background: url(../images/table_header_home.gif) no-repeat; }
    table th.cost {
      background: url(../images/table_header_home.gif) no-repeat top right; }
  table strong {
    font-weight: bold;
    color: #0066cc; }
  table .odd td {
    background: #d5dde6; }

.bindex td.cost a {
  float: right;
  width: 70px;
  height: 20px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/button_signup_home.gif) no-repeat; }

table td.cost {
  font-weight: bold;
  color: #346700;
  white-space: nowrap;
  /*width: 110px; */ }

#included {
  width: 400px;
  float: right; }

#terms {
  width: 450px;
  clear: left;
  float: left; }

.bindex #content ul li {
  margin: 0 0 2px;
  padding: 2px 0 2px 26px;
  background: url(../images/bullet_home.gif) no-repeat 5px 3px; }

#main {
  padding-right: 23px;
  float: left;
  width: 513px;
  width: 490px;
  padding-top: 6px; }
  #main p {
    font-size: 116%;
    line-height: 1.5;
    margin-bottom: 20px; }
    #main p.source {
      margin-top: -20px; }

#secondary p {
  line-height: 1.5;
  margin-bottom: 20px; }

em {
  font-style: italic; }

#main ul {
  font-size: 116%;
  margin-bottom: 20px; }
  #main ul.bullet li {
    margin: 0 0 2px;
    padding: 2px 0 2px 21px;
    background: transparent url(../images/bullet_sub.gif) no-repeat 0 4px; }

#user_new input, #user_new select {
  font-size: 130%; }

#build_it {
  border: 10px solid #aac5e1;
  padding: 15px 20px 1px 20px; }
  #build_it p.submit {
    font-size: 180%;
    text-align: center;
    margin: 0 auto; }

#user_new #build_it input {
  font-size: 200%; }

label span {
  color: #999999;
  padding: 0 5px;
  font-size: 92%; }

#error {
  background: #feebe8;
  padding: 15px 20px;
  margin: 0 0 20px;
  border: 1px solid #eda3ac;
  color: #991111; }

#secondary {
  padding: 20px 22px;
  font-size: 9;
  float: left;
  width: 340px;
  width: 296px;
  background: url(../images/secondary.gif) no-repeat top left; }
  #secondary ul {
    margin: 0 0 15px; }
    #secondary ul li {
      margin: 0 0 2px;
      padding: 2px 0 2px 21px;
      background: transparent url(../images/bullet_sub.gif) no-repeat 0 4px; }

#content #secondary #signup-link a {
  float: left;
  width: 280px;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/button_signup_ours.gif) no-repeat 0 0;
  margin: 15px 0 0 0;
  display: inline; }

#footer {
  clear: both;
  margin: 0 5px 30px;
  border-top: 1px solid #c7cfd7;
  background: url(../images/footer.jpg) no-repeat 50% 0;
  height: 50px;
  padding: 10px 10px;
  color: #888888;
  text-align: right; }

#copyright {
  float: left; }

input#user_store_subdomain{
  width: 70px;
}
