/* line 1, sass/page.sass */
.tooltip {
  z-index: 999;
  background-color: #0078a7;
  outline: 1px solid #666699;
  border: 2px solid white;
  padding: 10px 15px;
  width: 300px;
  display: none;
  color: white;
  text-align: left;
  font-size: 12px;
  outline-radius: 4px;
  -moz-outline-radius: 4px;
  -webkit-outline-radius: 4px;
}

/* override the arrow image of the tooltip */
/* line 20, sass/page.sass */
.tooltip .bottom {
  padding-top: 40px;
  height: 55px;
}

/* line 25, sass/page.sass */
ul#nav li a:link, ul#nav li a:visited, ul#nav li a:hover, ul#nav li a:active {
  background-image: url(/images/menu/4c46c87d8e0dee15ac000001.png);
}
