.product_adv
  %div{:style => "float: left;"}
    / start ads index_30 年中回馈 超值换购
    %div{:ads_key => "index_30", :ads_name => "index_30", :style => "width:443px;height:314px;margin:0; overflow: hidden;"}
      %div
        %a{:href => "http://www.mbaobao.com/cps/5596", :rel => "nofollow", :target => "_blank"}
          %img{ :src => "http://images.mbaobao.com/activity/201007/01/event_20100701_01.jpg"}/
    / end ads
  %div{:style => "float: left;"}
    / start ads index_301 飞扬空间简约率性系列
    %div{:ads_key => "index_301", :ads_name => "index_301", :style => "width:277px;height:314px;margin:0;margin-left:10px; overflow: hidden;"}
      %div
        %a{:href => "http://www.mbaobao.com/cps/5680", :rel => "nofollow", :target => "_blank"}
          %img{ :src => "http://images.mbaobao.com/activity/201007/02/event_20100702_01.jpg"}/
    / end ads
  %dl.accshowlist{:style => "float: right;"}
    / start ads index_31 简约时尚头层牛皮单肩包 白色
    %dt
      %a{:href => "http://www.mbaobao.com/cps/3680", :rel => "nofollow", :target => "_blank"} 简约时尚头层牛皮单肩包 白色
    %dd
      %a{:href => "http://www.mbaobao.com/cps/3680", :rel => "nofollow", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/17/event_20100617_w1.jpg"}/
    / end ads
    / start ads index_32 [DUDU]浪漫之约系列头层牛皮两用包
    %dt
      %a{:href => "http://www.mbaobao.com/cps/4791", :rel => "nofollow", :target => "_blank", } [DUDU]浪漫之约系列头层牛皮两...
    %dd
      %a{:href => "http://www.mbaobao.com/cps/4791", :rel => "nofollow", :target => "_blank", }
        %img{ :src => "http://images.mbaobao.com/activity/201006/17/event_20100617_w2.jpg"}/
    / end ads
    / start ads index_33 [浪美]明艳动人系列牛皮单肩包
    %dt
      %a{:href => "http://www.mbaobao.com/cps/4579", :rel => "nofollow", :target => "_blank"} [浪美]明艳动人系列牛皮单肩包
    %dd
      %a{:href => "http://www.mbaobao.com/cps/4579", :rel => "nofollow", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/17/event_20100617_w3.jpg"}/
    / end ads
    / start ads index_34 [浪美]白色格子时尚手提包
    %dt
      %a{:href => "http://www.mbaobao.com/cps/5105", :rel => "nofollow", :target => "_blank"} [浪美]白色格子时尚手提包
    %dd
      %a{:href => "http://www.mbaobao.com/cps/5105", :rel => "nofollow", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/17/event_20100617_w4.jpg"}/
    / end ads
    / start ads index_35 [薇茉]粉红色时尚印花单肩包
    %dt
      %a{:href => "http://www.mbaobao.com/cps/4580", :rel => "nofollow", :target => "_blank"} [薇茉]粉红色时尚印花单肩包
    %dd
      %a{:href => "http://www.mbaobao.com/cps/4580", :rel => "nofollow", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/17/event_20100617_w5.jpg"}/
    / end ads

