%li
  .pic=link_to image_tag(product.photo.small.url), product, :target => :_blank
  .text
    .title=link_to s(product.name), product, :target => :_blank
    .market_price
      市场价
      %s 
        ￥
        =product.market_price
    .price
      售价￥
      =product.price
