%li
  .pic=link_to image_tag(product.photo.small.url), product
  .text
    .title=link_to s(product.name), product
    .market_price
      市场价
      %s 
        ￥
        =product.market_price
    .price
      售价￥
      =product.price
