.index_products_title{:style => "margin-top: 40px;"}
  %h2.title.index_women
    %a{:href => "http://www.mbaobao.com/r-iwj/", :target => "_blank"} 时尚女包
    %a.showproduct_title{:href => "http://www.mbaobao.com/r-iwj/", :target => "_blank"} 2010年夏季新品上市！更多请点击
