@charset "utf-8"
@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/general/min"

body
  //总是显示纵向滚动条，避免无滚动条时显示图片编辑发生抖动
  overflow-y: scroll

.tooltip
  z-index: 999
  :background-color #fffff0
  :border 1px solid #ccc
  :width 300px 
  :display none 
  :text-align left 
  :font-size 12px 

  //outline radius for mozilla/firefox only
  :outline-radius 4px 
  :-moz-outline-radius 4px 
  :-webkit-outline-radius 4px

  overflow-x: hidden
  overflow-y: auto

  #operates
    +horizontal-list(4px)
    line-height: 26px
    margin-left: 15px

/* override the arrow image of the tooltip
.tooltip .bottom
  padding-top: 40px
  height: 55px

.container_operates
  background-color: #ddd
  height: 10px

.container_24
  .grid_24
    margin-top: 14px
    +min-height(20px)

.qtip ul li
  padding: 2px 0
