.tooltip
  z-index: 999
  :background-color #0078A7
  :outline 1px solid #669 
  :border 2px solid #fff 
  :padding 10px 15px 
  :width 300px 
  :display none 
  :color #fff 
  :text-align left 
  :font-size 12px 

  //outline radius for mozilla/firefox only
  :outline-radius 4px 
  :-moz-outline-radius 4px 
  :-webkit-outline-radius 4px


/* override the arrow image of the tooltip
.tooltip .bottom
  padding-top: 40px
  height: 55px
