@import "compass/css3/font-face"
+font-face("yahei_bold", font-files("/images/logo/yahei_bold.ttf", truetype))
+font-face("yahei", font-files("/images/logo/yahei.ttf", truetype))
+font-face("haibao", font-files("/images/logo/haibao.ttf", truetype))
+font-face("liuye", font-files("/images/logo/liuye.ttf", truetype))
+font-face("katong", font-files("/images/logo/katong.ttf", truetype))

#photomaker
  .add
    background: sprite-image('photomaker/add.png')
  .upload
    background: sprite-image('photomaker/upload.png')
  .generate
    background: sprite-image('photomaker/generate.png')

  .yahei_bold
    background: sprite-image('photomaker/yahei_bold.png')
  .yahei
    background: sprite-image('photomaker/yahei.png')
  .haibao
    background: sprite-image('photomaker/haibao.png')
  .katong
    background: sprite-image('photomaker/katong.png')
  .liuye
    background: sprite-image('photomaker/liuye.png')

  .small
    background: sprite-image('photomaker/small.png')
  .middle
    background: sprite-image('photomaker/middle.png')
  .big
    background: sprite-image('photomaker/big.png')

  .black
    background: sprite-image('photomaker/black.png')
  .red_dark
    background: sprite-image('photomaker/red_dark.png')
  .red
    background: sprite-image('photomaker/red.png')
  .green
    background: sprite-image('photomaker/green.png')
  .blue
    background: sprite-image('photomaker/blue.png')
  .grey
    background: sprite-image('photomaker/grey.png')

  .logo_bg
    background: sprite-image('photomaker/logo_bg.png')

  .banner_bg
    background: sprite-image('photomaker/banner_bg.png')

  .focus_bg
    background: sprite-image('photomaker/focus_bg.png')

  .save
    background: sprite-image('photomaker/save.png')
