@charset "utf-8"
@import "compass/utilities/lists/horizontal-list"

$color_grey_lightest: #F5F5F5

.hide
  display: none

#loading-indicator
  position: absolute
  left: 250px
  top: 30px
  display: none
  font-size: 12px
  color: #fff

#upload_photo
  float: right

#photos
  clear: both
  li
    float: left
    margin: 5px
    img
      border: 1px solid #ddd

#upgrade
  margin-bottom: 10px
  p, fieldset
    padding: 0 10px

/** 底端菜单
.bar_menu_info
  background-color: #fff
  padding: 5px
  div
    margin: 5px 0
  .summary
    text-align: right
  .buttons
    margin-top: 10px
    color: red

/** 通用列表
.list
  ul
    text-align: center
    +horizontal-list(8px)
    li.name
      text-align: left
  ul.head
    color: white
    background-color: #7a7f89
  ul.item
    padding: 5px 0
    &.even
      background-color: $color_grey_lightest

#tooltip
  z-index: 999
  :background-color #fffff0
  :border 1px solid #ccc
  :display none 
  :text-align left 
  :font-size 12px 
  ul
    :list-style-type none
    li
      :margin 8px
      :clear both
      label,span
        :margin-bottom 8px
        :display block
        :float left
      label
        :width 40px
        :text-align right
        :padding-right 5px

//simplemodal
#simplemodal-container a.modalCloseImg
  background: url(/images/x.png) no-repeat
  width: 25px
  height: 29px
  display: inline
  z-index: 3200
  position: absolute
  top: -15px
  right: -18px
  cursor: pointer
