-# QQ在线状态:http://wp.qq.com/
-# 旺旺在线状态:http://www.taobao.com/help/wangwang/online.php
#content-top
  #content-bottom
    #content
      #main
        %h4 联系方式
        %p 手机:13928452845
        %p Email:mahb45#gmail.com (请将#号替换为@)
        %br
        %h4 公司信息
        %p 电话:0755-26741088
        %p 深圳索普奇科技有限公司
        %p 广东省深圳市南山区科技园南区深港产学研基地大楼西座w311
      #secondary
        %h4 即时咨询
        %p 有任何疑问，请点击以下联系方式
        %ul
          %li
            %a{:href=>"http://sighttp.qq.com/cgi-bin/check?sigkey=1cefc38584c35fbe9ade05b6feed27da1de824640d99aac38a294a9b0859f1e9", :target=>'_blank', :onclick=>"var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=1cefc38584c35fbe9ade05b6feed27da1de824640d99aac38a294a9b0859f1e9';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"}
              %img{:border=>"0", :SRC=>'http://wpa.qq.com/pa?p=1:1080185:41', :alt=>""}
          %li
            %a{:href=>"http://amos1.taobao.com/msg.ww?v=2&uid=hfmhb&s=1", :target=>"_blank"}
              %img{:border=>"0", :src=>"http://amos1.taobao.com/online.ww?v=2&uid=hfmhb&s=1", :alt=>"点击这里给我发消息"}
