#plans
  %h4
    %strong 高性价比套餐
  %table
    %thead
      %tr
        %th.plan 服务套餐
        %th 存储空间
        %th 最高流量
        %th.cost{:colspan => "2"} 年费用(免费试用)
    %tbody
      %tr
        %td
          %strong 3988 shop
        %td 10GB
        %td 50GB
        %td 3988元
        %td.cost
          %a{:href => "#"} 免费试用
#included
  %h4
    所有服务套餐包含:
  %ul
    %li 七天免费试用
    %li 同步开通移动网店
    %li 免费绑定顶级域名
    %li 不限带宽、不限商品数
    %li 提供商业认证
    %li 丰富的在线支持接口
    %li 新旧模板不另收费
    %li 网店程序自动升级
    %li 网页全部静态化
    %li SEO搜索引擎优化
    %li 及时有效的技术支持
#terms
  %h4 特色功能
  %ul
    %li 后台管理可视化操作
    %li 高效的订单处理流程
