#content-top
  #content-bottom
    #content
      #main
        %h3#top 常见问题
        %h4#data 在哪里看空间使用情况和流量
        %p 
          系统中无法看到，在空间使用情况、流量，当其值达到90%时，系统会发Email提示您。
          请放心使用，空间和流量都按最大可能值设置，正常情况下不会超过。
          非正常情况下指恶意上传大量超大图片，会导致空间使用超过。或者有黑客攻击，导致流量超出，这种情况系统会自动监测，我们会及时处理，不会让您产生额外支出。
        %p=link_to '返回顶部', '#top'
        %h4#safe 数据存放是否安全
        %p 是的，关键数据我们会进行加密处理。
        %p 我们保证您的数据不会被除您之外的第三方机构获取。
        %p=link_to '返回顶部', '#top'
      #secondary
        %h4 问题列表
        %ul
          %li=link_to '在哪里看空间使用情况和流量', '#data'
          %li=link_to '数据存放是否安全', '#safe'
