.block#block-text
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to '日常管理', '#'
  .content
    #main-message
      .flash
        .message
    #main-panel.inner
      %p
        %span.gray 这里是添加商品等日常管理的区域

.block#block-text
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to '待办事宜', '#'
  .content
    .inner
      %p
        %span.gray 暂时没有需要处理的订单、咨询、评价信息
-content_for :sidebar, render(:partial => 'sidebar')
