%div{:class => grid_class(containers, child), :id => id(child)}<
  -if child.type
    =item_partial(child)
  -else
    = render :partial => "containers/child", :collection => child.children, :locals => {:containers => child.children}
