=content_tag_for :div, item, :class => 'container_24' do
  %ul.index_products.products_list
    = render :partial => "pages/product/small", :collection => Product.any_in(:category_path => item.categories.map(&:id)), :as => :product
