.container_24
  .grid_24.sortable{:id => id(item), :sort_url => sort_containers_path}<
    = render :partial => "containers/child", :collection => item.children, :locals => {:containers => item.children}
