//reset tooltip
$("#tooltip").trigger('cancle');

$("body").append('#{escape_javascript( render(:partial => "containers/item", :object => resource))}');

//reset tooltip
$('##{id(resource)}').tooltip(container_new_tooltip_setting).dynamic(dynamic_setting);
