//close qtip
$("#tooltip").trigger('cancle');

//appendTo parent
$('##{id(resource.parent)}').append('#{escape_javascript( render(:partial => "containers/child", :object => resource, :locals => {:containers => resource.parent.children}))}');
$('##{id(resource)}').effect('highlight');

//destroy old qtip
var root = $('##{id(resource)}').parents('.container_24');
root.find('.assist').remove();
root.find('.qtip_container').removeClass('qtip_container').qtip('destroy');

//reset qtip
root.children('.grid_24').each(Container.generate_assist);

//admin
Admin.refresh();
