//close qtip
$.modal.close();

//appendTo parent
$('##{id(resource.parent)}').append('#{escape_javascript( render(:partial => "containers/child", :object => resource, :locals => {:containers => resource.parent.children}))}');
$('##{id(resource)}').effect('highlight');

//admin
Admin.refresh();

//reset qtip
$('##{id(resource)}').each(Container.destroy_assist).each(Container.generate_assist);
