//reset tooltip
$("#tooltip").trigger('cancle');

$("body").append('#{escape_javascript( render(:partial => "containers/item", :object => resource))}');

//reset tooltip
$('##{id(resource)}').qtip($.extend({ content: { url: '/containers/new', data: { parent_id: '#{id(resource)}' } }}, qtip_setting));
