%ul#operates
  %li 在此处添加:
  %li=link_to '商品列表', containers_path('container[parent_id]' => container_root.id), :method => :post, :remote => true
  %li=link_to '通栏广告', containers_path('container[parent_id]' => container_root.id), :method => :post, :remote => true
  %li=link_to '边栏广告', containers_path(:container => { :parent_id => params[:parent_id], :type => :sidead } ), :method => :post, :remote => true
  %li=link_to '聚焦广告', containers_path(:container => { :parent_id => params[:parent_id], :type => :focuses } ), :method => :post, :remote => true
