$("##{id(resource)}").replaceWith('#{escape_javascript( render(:partial => "containers/item", :object => resource) )}');
//reset tooltip
$('##{id(resource.image)}').tooltip(image_tooltip_setting).dynamic(dynamic_setting);
//$("##{id(resource)}").tooltip(container_edit_tooltip_setting).dynamic(dynamic_setting);
