= render :partial => "pages/header"

#content
  .container_24
    .grid_24.root
      .grid_5.alpha
        #orders
          .box
            %h3=current_member_name
            .tip 您好！欢迎光临凡客诚品.
            %br
            .tip
              会员级别: 
              %span 普通会员
            .tip
              会员积分:
              %span 0
      .grid_19.omega
        .list
          %h3
            %span 
              %em 所有订单
          %ul.head
            %li(style="width:100px") 订单号
            %li(style="width:100px") 订单日期
            %li(style="width:70px") 总价
            %li(style="width:100px") 状态
            %li(style="width:100px") 查看详情
            %li(style="width:70px") 支付
            %li(style="width:70px") 操作
          -@orders.each do |order|
            %ul.item{:class=>cycle(:odd, :even)}
              %li(style="width:100px")=order.number
              %li(style="width:100px")=order.created_at
              %li(style="width:70px")=order.price_sum
              %li(style="width:100px")=order.state
              %li(style="width:100px")=link_to order, '查看详情'
              %li(style="width:70px")=link_to '#', '现在支付'
              %li(style="width:70px")=link_to '#', '取消订单'
