#orders
  .list
    %h3
      %span 
        %em 所有订单
    %ul.head
      %li(style="width:100px") 订单号
      %li(style="width:100px") 订单日期
      %li(style="width:70px") 总价
      %li(style="width:100px") 状态
      %li(style="width:100px") 查看详情
      %li(style="width:70px") 支付
      %li(style="width:70px") 操作
    -@orders.each do |order|
      =content_tag_for :ul, order, :class => "item #{cycle(:even, :odd)}" do
        %li(style="width:100px")=order.number
        %li(style="width:100px")=order.created_at.to_s(:db)
        %li(style="width:70px")=order.price_sum
        %li.state(style="width:100px")=order.state_name
        %li(style="width:100px")=link_to '查看详情', order
        %li.btns_pay(style="width:70px")
          -if order.state == 'unpay'
            = render :partial => "pay", :locals => {:order => order}
            =link_to_function '现在支付', "Car.pay('payment_form_#{order.id}')" 
        %li.btns_cancel(style="width:70px")
          =link_to '取消订单', cancel_order_path(order), :remote => true, :method => :post, :confirm => '您确定要取消订单吗?' if order.state == 'unpay'
