%h3
  ==订单号:#{resource.number}
  %span -
.bar_menu_info
  %div==收货人:#{resource.address_info}
  %div=resource.receive_name
  .list
    %ul.head
      %li(style="width:180px") 产品名称
      %li(style="width:50px") 数量
    -resource.items.each do |item|
      -product = item.product
      %ul.item{:class=>cycle(:odd, :even)}
        %li.name(style="width:180px")=s(product.name)
        %li(style="width:50px")=item.quantity
  .buttons
    处理方式:
    = link_to "已发货", ship_order_path(resource), :remote => true, :method => :post
