.clear
#detail_menu
  %h3
    %strong 热门分类
  .detail_menu_info.editable.sortable{:sort_url => sort_hots_path}
    =render :partial => "hots/item", :collection => current_user.store.hots.roots.first.children
    %div{:style => "clear:both;"}
.in_adv01
  / start ads index_23 遇见，就不要错过！
  %div{:ads_key => "index_23", :ads_name => "index_23", :style => "width:220px;height:234px;margin:0; overflow: hidden;"}
    %div
      %a{:href => "http://www.mbaobao.com/cps/4784", :rel => "nofollow", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/07/event_20100607_03.jpg"}/
  / end ads
