#index_focus_box.index_focus_box.ftl{:ads_key => "index_focus"}
  .img.dpn
    %a{:href => "http://www.mbaobao.com/cps/5693", :target => "_blank"}
      %img{ :src => "http://images.mbaobao.com/activity/201007/02/event_night.jpg", :style => "width:725px; height:391px;"}/
  .img.dpn
    %a{:href => "http://www.mbaobao.com/cps/5590", :target => "_blank"}
      %img{ :src => "http://images.mbaobao.com/activity/201006/30/event_20100630_caobian.jpg", :style => "width:725px; height:391px;"}/
  .img.dpn
    %a{:href => "http://www.mbaobao.com/cps/5548", :target => "_blank"}
      %img{ :src => "http://images.mbaobao.com/activity/201006/30/event_20100630_01.jpg", :style => "width:725px; height:391px;"}/
  .img.dpn
    %a{:href => "http://www.mbaobao.com/cps/5459", :target => "_blank"}
      %img{ :src => "http://images.mbaobao.com/activity/201006/30/event_new19_change.jpg", :style => "width:725px; height:391px;"}/
  .img.dpn
    %a{:href => "http://www.mbaobao.com/cps/4991", :target => "_blank"}
      %img{ :src => "http://images.mbaobao.com/activity/201007/02/event_20100614_02.jpg", :style => "width:725px; height:391px;"}/
  %ul#index_focus_txt_bg.panel
    %li
    %li
    %li
    %li
    %li.last
  %ul#index_focus_txt.title
    %li
      %a{:href => "http://www.mbaobao.com/cps/5693", :target => "_blank"} 越夜越时尚
    %li
      %a{:href => "http://www.mbaobao.com/cps/5590", :target => "_blank"} 更爱草编包
    %li
      %a{:href => "http://www.mbaobao.com/cps/5548", :target => "_blank"} 2010 激情世界杯
    %li
      %a{:href => "http://www.mbaobao.com/cps/5459", :target => "_blank"} 夏季新品第19期
    %li
      %a{:href => "http://www.mbaobao.com/cps/4991", :target => "_blank"} 浪美98分贝单肩包
  #index_focus_loding.loding
.index_focus_sidebar.ftr
  .right_content_box
    %h2.title.white.fs12.announcement
      %span.fs11
        %a{:href => "http://www.mbaobao.com/annunciate.php", :target => "_blank"} More
      %a{:href => "http://www.mbaobao.com/annunciate.php", :rel => "nofollow", :target => "_blank"} 最新动态
    %ul.list
      %li
        %a{:href => "http://www.mbaobao.com/active/baosir.php", :rel => "nofollow", :target => "_blank"}
          %font{:style => "color:;"} [视频]我是包大人:华丽登场
      %li
        %a{:href => "http://www.mbaobao.com/annunciate_view.php?id=32", :rel => "nofollow", :target => "_blank"}
          %font{:style => "color:;"} 麦包包网易联合活动领礼名单
      %li
        %a{:href => "http://blog.mbaobao.com/3275.html", :rel => "nofollow", :target => "_blank"}
          %font{:style => "color:red;"} 麦包包出席S.H.E演唱会庆功
      %li
        %a{:href => "http://blog.mbaobao.com/3301.html", :rel => "nofollow", :target => "_blank"}
          %font{:style => "color:blue;"} 麦包包：世界杯的女人专场
      %li
        %a{:href => "http://www.mbaobao.com/cps/1920", :rel => "nofollow", :target => "_blank"}
          %font{:style => "color:;"} 2010麦尚春夏时尚发布会
      / 
  %div{:style => "padding-top:8px;"}
    %div
      %a{:href => "http://www.mbaobao.com/annunciate_view.php?id=3", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201005/18/new_index_right_02.jpg"}/
    %div{:style => "padding-top: 10px;"}
      %a{:href => "http://www.mbaobao.com/cps/3721", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201005/18/new_index_right_01.jpg"}/
