:sass
  ul#menus li a
    background-image: url(#{menu_bg_img})

-# 新增时需要增加定义，为方便，固定10个
-#current_user.store.pages.homepage.sorted_menus.each_with_index do |menu, index|
-10.times do |index|
  :sass
    ul#menus
      .menu_#{index} a
        &:link, &:visited
          background-position: -#{index*75}px 0px
          width: 75px
        &.on, &:hover, &:active
          background-position: -#{index*75}px -30px
