= render :partial => "pages/header"
= render :partial => "pages/main"
.container_operates.container_24
/= render :partial => "pages/footer/extra"
/= render :partial => "pages/footer/links"
/= render :partial => "pages/footer/company"
#tooltip.tooltip 测试一下
  
= javascript_include_tag 'focus'
