#content
  .container_24
    .grid_24
      .grid_5.alpha
        .helps
          .title 产品分类
          .tree
      #main.grid_19.omega
        = render :partial => "list"

= render :partial => "tree"
