.operates
  =link_to "<<在其#{position(:above)}添加", new_help_path(:help => { :parent_id => resource.parent_id }, :neighbor => resource.id, :direct => :above ), :remote => true, :update => 'tooltip' unless resource.new_record?
  =link_to "在其#{position(:below)}添加>>", new_help_path(:help => { :parent_id => resource.parent_id }, :neighbor => resource.id, :direct => :below ), :remote => true, :update => 'tooltip', :style => 'float:right' unless resource.new_record?
= semantic_form_remote_for(resource) do |f|
  =hidden_field_tag :direct, params[:direct]
  =hidden_field_tag :neighbor, params[:neighbor]
  =f.inputs do
    =f.input :parent_id, :as => :hidden
  =f.inputs do
    =f.input :name
    =f.input :url
  =f.buttons do
    =f.commit_button '保存'
    -unless resource.new_record?
      %li=link_to '删除', help_path, :remote => true, :method => :delete
