#helps
  .container_24
    .grid_24.root

      .grid_5.alpha
        #menus
          .box.menu
            -store.helps.root.children.each do |help|
              %h2=help.name
              %ul
                -help.children.each do |child|
                  %li=link_to s(child.name), url_or_special(child)

      #main.grid_19.omega
        =resource.name
        =resource.content
