-if store.deadline_warning?
  .flash#upgrade
    %div{:class => store.available? ? :warning : :error}
      %p
        ==有效期至：#{store.deadline}
        %br
        -if store.available?
          您的网店使用期限即将到期，请及时续费。
        -else
          您的网店已过期，网店无法访问，请尽快续费。
      #consumpt_panel
        -if store.consumptions.unpay
          = render :partial => "consumptions/show", :locals => {:resource => store.consumptions.unpay}
        -else
          %p=link_to '点击此处付款', new_consumption_path, :remote => true, 'data-type' => :html, :update => :consumpt_panel
