%h2.title 请输入支付信息
%table.table#payment_type
  %tbody
    %tr.head
      %th.first=t('formtastic.labels.payment.number')
      %th{:width => '100px'}=t('formtastic.labels.payment.name')
      %th{:width => '30px'}=t('formtastic.labels.payment.is_show')
      %th=t('formtastic.labels.payment.account')
      %th=t('formtastic.labels.payment.partnerid')
      %th=t('formtastic.labels.payment.verifycode')
      %th.last=t('formtastic.labels.payment.remark')
    -@payment_types.each_with_index do |payment_type, index|
      %tr.item
        %td=index+1
        %td=payment_type.name
        %td=on_the_spot_edit payment_type, :is_show, :type => :checkbox
        %td=on_the_spot_edit payment_type, :account
        %td=on_the_spot_edit payment_type, :partnerid
        %td=on_the_spot_edit payment_type, :verifycode
        %td=on_the_spot_edit payment_type, :remark
