#focus
  %ul.slideshow
    %li=link_to image_tag('http://images.vancl.com/Others/2010/8/23/but_home_3-0823-9.jpg', :title => '铅笔裤特惠'), '/'
    %li=link_to image_tag('http://images.vancl.com/Others/2010/8/23/but_home_6-0823.jpg', :title => '秋冬搭配基础单品'), '/'
    %li=link_to image_tag('http://images.vancl.com/Others/2010/8/18/but_home_1_100620816-34.jpg', :title => '帆布休闲鞋抢购价'), '/'
