@charset "utf-8"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/lists/horizontal-list"

$color: #333
$color_hover: #A10010

$color_grey_darker: #565662
$color_grey_dark: #999999
/* border
$color_grey = #B4B4B4
$color_grey_light: #C7C7C7
$color_grey_lighter: #EBEBEB
$color_grey_lightest: #F5F5F5

$color_red: #A10000
$color_red_dark: #7F0019

$color_yellow: #E9BE16

$color_white: white

$image_pay: "templates/vancl/header/pay.jpg"
$image_bar: "templates/common/header/bar.gif"
$image_bullet_diamond: "templates/common/bullet/diamond.gif"
$image_bullet_right_arrow: "templates/common/bullet/right_arrow.gif"
$image_bullet_down_arrow: "templates/common/bullet/down_arrow.gif"
$image_bullet_move_arrow: "templates/common/bullet/move_arrow.png"
$image_bullet_square: "templates/common/bullet/square.png"

@mixin height($dist)
  height: $dist
  line-height: $dist

/***** DEFAULT *****/
body
  font-size: 12px
  a
    text-decoration: none
    +link-colors($color, $color_hover)
  abbr
    color: $color_red_dark

/***** HEADER *****/
#header
  #navs
    +horizontal-list(8px)
    float: right
    margin-top: 14px
    li
      background: image_url($image_bar) no-repeat 0px 2px
      &.no_bar
        background-image: none
  #welcome
    padding: 15px 0 0 15px
    a
      color: $color_hover
  .telephone
    margin-top: 20px

  #menus
    +horizontal-list(2px)
    margin-top: 15px
    a
      display: block
      text-indent: -900em
      height: 30px

  #keywords
    padding-top: 8px
    background-color: $color_grey_darker
    height: 22px
    strong
      float: left
      margin: 0 10px
      color: $color_grey_light
    ul
      +horizontal-list
      a
        color: white

  #search
    background-color: $color_grey_lightest
    height: 30px
    span
      float: left
    .input
      margin: 3px 8px 0 20px
    .button
      margin-top: 5px

  #mini-car
    border-top: 1px solid $color_grey_dark
    border-bottom: 1px solid $color_grey_dark
    height: 44px
    padding: 5px 0 9px
    line-height: 200%
    .shopping
      margin: 3px 3px 0 0
    #product_count, #product_price
      font-weight: bold
      color: $color_red
    #product_count
      margin: 0 4px
    .pay_btn
      float: right
      background-image: image_url($image_pay)
      width: image-width($image_pay)
      height: image-height($image_pay)

/***** Content *****/
#content
  .sidead, .fullad, .hots
    border: 1px solid $color_grey
  .sidead
    margin-bottom: 6px
  .hots
    h3
      background-color: $color_grey_lighter
      color: #fff
      font-size: 18px
      font-weight: bold
      strong
        padding-left: 30px
        display: block
        width: 200px
        @include height(39px)
        background-color: $color_red
    dl
      display: block
      height: 36px
      border-bottom: 1px dotted #ccc
      dt
        float: left
        display: inline
        width: 100px
        .title
          @include height(23px)
          color: #ccc
          font-size: 14px
          font-weight: bold
          background-color: $color_grey_lighter
          margin: 8px 28px 0 20px
          text-align: center
      dd
        line-height: 36px
        ul
          +horizontal-list(8px)
          li
            background: image_url($image_bar) no-repeat 0px 14px
            &.no_bar
              background-image: none

  .products_list
    +horizontal-list(0px)
    li
      padding: 0 12px 0 0
      margin-bottom: 8px
    img
      border: 1px solid $color_grey_lighter
    .title, .market_price
      margin-top: 5px
    .title
      @include height(16px)
    .market_price
      color: $color_grey_dark
    .price
      margin-top: 3px
      color: $color_hover

  /* 分类列表页面较窄，只能放四个商品信息
  .category_product li
    padding: 0 8px 0 0

  .products_accordion_list
    border-bottom: 1px solid $color_grey_lighter
    dt
      @include height(29px)
      background: image_url($image_bullet_diamond) no-repeat 8px 11px
      border: 1px solid $color_grey_lighter
      border-bottom: none
      padding-left: 20px
      p
        margin-right: 8px
        background: image_url($image_bullet_right_arrow) no-repeat 100% 11px
      &.showimg
        a
          color: $color_hover
        p
          background: image_url($image_bullet_down_arrow) no-repeat 100% 11px
    dd
      display: none

  .products_head
    border-bottom: 2px solid $color_hover

  /* 容器拖动排序
  h2.move
    width: 16px
    height: 16px
    background: image_url($image_bullet_move_arrow) no-repeat 0 0
    /* 相对位置会占用空间
    /* position: relative
    position: absolute
    left: 0px
    top: 0px
    cursor: move
    display: none
    z-index: 999

.categories
  border: 1px solid $color_grey_light
  .title
    @include height(24px)
    background-color: $color_grey_darker
    color: #fff
    font-weight: bold
    padding-left: 15px
    margin: 1px
  .tree
    padding: 5px
    a
      @include height(24px)
  .jstree
    .jstree-icon
      /* 靠近最左
      width: 0

#main
  .product_info
    .pic
      border: 1px solid $color_grey
    .gallery
      img
        border: 1px solid $color_grey
        margin: 15px 10px 0 0
    .gallery
    .title
      @include height(30px)
      border-bottom: 1px dashed $color_grey_light
      font-size: 14px
      font-weight: bold
      margin-bottom: 5px
    .attr
      @include height(24px)
      padding-left: 10px
      color: $color_grey_darker
      .price
        font-size: 24px
        color: $color_red
      .number
        color: $color_yellow
        font-weight: bold
      #quantity
        border: 1px solid $color_grey_light
        color: $color_grey_dark
        text-align: center
        width: 44px
    .btns
      margin-top: 10px

  .tabs
    h2
      color: #fff
      font-size: 18px
      font-weight: bold
      padding-left: 30px
      margin: 10px 0
      width: 200px
      @include height(39px)
      background-color: $color_red

  .wysiwyg
    border-color: white
    .panel
      display: none

/** 通用定义
/** 通用列表
.list
  h3
    margin-bottom: 15px
    span
      border-bottom: 2px solid $color_hover
      padding: 0 5px 5px 5px
      em
        font-size: 14px
        font-weight: bold
        color: $color_grey_dark
  ul
    text-align: center
    +horizontal-list(8px)
    li
      @include height(60px)
      &.name
        text-align: left
  ul.head
    color: white
    background-color: #7a7f89
    li
      @include height(32px)
  ul.item
    padding: 5px 0
    &.even
      background-color: $color_grey_lightest

/** 通用box区域
.box
  color: $color_grey_darker
  border: 1px solid $color_grey_light
  padding: 10px
  /** 块区域
  .block
    margin-bottom: 10px
    padding-top: 20px
    /** 标题
    .title
      margin-bottom: 10px
      padding: 0 10px
      span
        font-weight: bolder
        font-size: 14px
      a.sub_title
        float: right
        color: $color_red
    /** 内容面板
    .panel
      ul li
        @include height(24px)
        a
          color: $color_grey_dark

/** 步骤导航
.steps
  color: $color_grey_dark
  .step
    color: $color_red
    font-weight: bolder
  margin-bottom: 10px

/** formtastic的标签宽度
$left_default: 25%
$left: 37%

/** 错误信息
.error
  border: 1px solid $color_red
  color: $color_red
  width: 300px
  margin: 0 0 5px $left_default
  text-align: center
  background-color: $color_grey_lightest
  display: none
  @include height(19px)

#error_explanation
  display: none

/** 提示信息
.tip
  color: $color_grey
// 突出显示
.highlight
  color: $color_red_dark
// 浅淡显示
.shortlight
  color: $color_grey_darker
// 焦点
.spotlight
  text-align: center

/** 购物车页面
#car
  border: 1px solid $color_grey_lighter
  padding: 1px
  .summary
    margin: 0 20px
    border-top: 1px solid $color_grey
    border-bottom: 1px solid $color_grey
    @include height(42px)
    text-align: right
    color: $color_grey_darker
    #items_count, #price_count
      color: $color_hover
    .unit
      margin-right: 50px
  .btns
    margin: 20px 0 20px 20px
    a
      margin-right: 20px
    .pay, .confirm
      float: right
    margin-right: 20px

/** 购买者登录注册页
#members_sessions
  .box
    border: 1px solid $color_grey_light
    padding: 15px 15px 0 15px 
    height: 400px
    h2
      border-bottom: 1px solid $color_grey_darker
      margin-bottom: 25px
    p.tip
      margin: 0 0 20px 22%
    .formtastic
      .error
        margin: 0 0 5px $left
        width: 200px
      label
        text-align: right
        width: $left
        color: $color_grey_darker
      .inline-hints
        margin-left: $left
        width: 200px
        color: $color_grey_dark
      input 
        width: 200px
        @include height(19px)
      .remember
        margin-bottom: 20px
        input
          margin-left: $left
          width: 15px
        label
          display: inline
      .buttons
        padding-left: $left
        input
          border: none
          width: 80px
          @include height(25px)

/** 会员管理页面
#members
  .box .panel
    border-top: 1px solid $color_grey
    border-bottom: 1px solid $color_grey
    margin: 10px
    padding: 10px
  #menus
    .box
      background-color: $color_grey_lightest
      margin-bottom: 10px
      .row
        @include height(20px)
      &.menu
        padding: 1px
        h2
          color: $color_white
          font: 14px bold
          background-color: $color_grey_darker
          text-align: center
          @include height(24px)
        ul li
          margin: 10px 0
          padding-left: 30px
          background: image_url($image_bullet_square) no-repeat 18px 50%
          font-weight: bold
          a
            font-weight: normal

/** 会员订单
#orders, #order_show
  .list ul.item li
    @include height(24px)

/** 会员提交订单
#order_confirm
  .box
    padding: 10px 20px
    margin: 10px 0
    .block
      border-top: 1px solid $color_grey
      &.first
        border-top: none
        padding-top: 0
    #new_address_form
      padding-top: 10px
  .list
    border: none
    border-bottom: 1px solid $color_grey_dark
    ul.item li
      @include height(24px)
  .select_group legend
    color: $color_grey_darker
  /** 配送地址
  .buttons
    padding-left: $left
    input
      border: none
      width: 130px
      @include height(25px)
  /** 提交订单
  .btns
    float: right
    input
      border: none
      width: 117px
      @include height(32px)

/** 订单产品列表统计部分
#order_confirm, #order_show
  .summary
    @include height(24px)
    text-align: right
    color: $color_grey_darker
    #items_count, #price_count
      color: $color_hover
    .unit
      margin-right: 50px
    .back_car
      float: left
  .total
    font-size: 14px
    color: $color_red_dark
