@charset "utf-8"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/lists/horizontal-list"

$color: #333
$color_hover: #A10010

$color_grey_darker: #565662
$color_grey_dark: #999999
/* border
$color_grey = #B4B4B4
$color_grey_light: #C7C7C7
$color_grey_lighter: #EBEBEB
$color_grey_lightest: #F5F5F5

$color_red: #A10000

$color_yellow: #E9BE16

$image_pay: "templates/vancl/header/pay.jpg"
$image_bar: "templates/common/header/bar.gif"
$image_bullet_diamond: "templates/common/bullet/diamond.gif"
$image_bullet_right_arrow: "templates/common/bullet/right_arrow.gif"
$image_bullet_down_arrow: "templates/common/bullet/down_arrow.gif"
$image_bullet_move_arrow: "templates/common/bullet/move_arrow.png"

@mixin height($dist)
  height: $dist
  line-height: $dist

/***** DEFAULT *****/
body
  font-size: 12px
  a
    +link-colors($color, $color_hover)

/***** HEADER *****/
#header
  #navs
    +horizontal-list(8px)
    float: right
    margin-top: 14px
    li
      background: image_url($image_bar) no-repeat 0px 2px
      &.no_bar
        background-image: none
  #welcome
    padding: 15px 0 0 15px
    a
      color: $color_hover
  .telephone
    margin-top: 20px

  #menus
    +horizontal-list(2px)
    margin-top: 15px
    a
      display: block
      text-indent: -900em
      height: 30px

  #keywords
    padding-top: 8px
    background-color: $color_grey_darker
    height: 22px
    strong
      float: left
      margin: 0 10px
      color: $color_grey_light
    ul
      +horizontal-list
      a
        color: white

  #search
    background-color: $color_grey_lightest
    height: 30px
    span
      float: left
    .input
      margin: 3px 8px 0 20px
    .button
      margin-top: 5px

  #car
    border-top: 1px solid $color_grey_dark
    border-bottom: 1px solid $color_grey_dark
    height: 44px
    padding: 5px 0 9px
    line-height: 200%
    .shopping
      margin: 3px 3px 0 0
    #product_count, #product_price
      font-weight: bold
      color: $color_red
    #product_count
      margin: 0 4px
    .pay_btn
      float: right
      background-image: image_url($image_pay)
      width: image-width($image_pay)
      height: image-height($image_pay)

/***** Content *****/
#content
  .sidead, .fullad, .hots
    border: 1px solid $color_grey
  .sidead
    margin-bottom: 6px
  .hots
    h3
      background-color: $color_grey_lighter
      color: #fff
      font-size: 18px
      font-weight: bold
      strong
        padding-left: 30px
        display: block
        height: 39px
        width: 200px
        line-height: 39px
        background-color: $color_red
    dl
      display: block
      height: 36px
      border-bottom: 1px dotted #ccc
      dt
        float: left
        display: inline
        width: 100px
        .title
          @include height(23px)
          color: #ccc
          font-size: 14px
          font-weight: bold
          background-color: $color_grey_lighter
          margin: 8px 28px 0 20px
          text-align: center
      dd
        line-height: 36px
        ul
          +horizontal-list(8px)
          li
            background: image_url($image_bar) no-repeat 0px 14px
            &.no_bar
              background-image: none

  .products_list
    +horizontal-list(0px)
    li
      padding: 0 12px 0 0
      margin-bottom: 8px
    img
      border: 1px solid $color_grey_lighter
    .title, .market_price
      margin-top: 5px
    .title
      @include height(16px)
    .market_price
      color: $color_grey_dark
    .price
      margin-top: 3px
      color: $color_hover

  /* 分类列表页面较窄，只能放四个商品信息
  .category_product li
    padding: 0 8px 0 0

  .products_accordion_list
    border-bottom: 1px solid $color_grey_lighter
    dt
      @include height(29px)
      background: image_url($image_bullet_diamond) no-repeat 8px 11px
      border: 1px solid $color_grey_lighter
      border-bottom: none
      padding-left: 20px
      p
        margin-right: 8px
        background: image_url($image_bullet_right_arrow) no-repeat 100% 11px
      &.showimg
        a
          color: $color_hover
        p
          background: image_url($image_bullet_down_arrow) no-repeat 100% 11px
    dd
      display: none

  .products_head
    border-bottom: 2px solid $color_hover

  /* 容器拖动排序
  h2.move
    width: 16px
    height: 16px
    background: image_url($image_bullet_move_arrow) no-repeat 0 0
    /* 相对位置会占用空间
    /* position: relative
    position: absolute
    left: 0px
    top: 0px
    cursor: move
    display: none
    z-index: 999

.categories
  border: 1px solid $color_grey_light
  .title
    @include height(24px)
    background-color: $color_grey_darker
    color: #fff
    font-weight: bold
    padding-left: 15px
    margin: 1px
  .tree
    padding: 5px
    a
      @include height(24px)
  .jstree
    .jstree-icon
      /* 靠近最左
      width: 0

.product_info
  .pic
    border: 1px solid $color_grey
  .gallery
    img
      border: 1px solid $color_grey
      margin: 15px 10px 0 0
  .gallery
  .title
    @include height(30px)
    border-bottom: 1px dashed $color_grey_light
    font-size: 14px
    font-weight: bold
    margin-bottom: 5px
  .attr
    @include height(24px)
    padding-left: 10px
    color: $color_grey_darker
    .price
      font-size: 24px
      color: $color_red
    .number
      color: $color_yellow
      font-weight: bold
  .btns
    margin-top: 10px
