#activitybox_left
  #activitybox
    %h3.bbgtitle
      / <a href="">详情请点击</a>
      会员专供产品
    %ul.activitylist
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101013324.html", :target => "_blank"}
            %img{ :src => "http://img05.mbaobao.com/alfaartist/201004/07/11010133/24/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101013324.html", :target => "_blank"} [阿尔法·阿蒂斯特]经典高档牛皮配料手包 黑色
        .price
          %span.oldprice
            市场价：
            %s 629.00
          %span.price
            %strong> 麦包价：
            ￥155.00
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101013312.html", :target => "_blank"}
            %img{ :src => "http://img06.mbaobao.com/alfaartist/201004/07/11010133/12/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101013312.html", :target => "_blank"} [阿尔法·阿蒂斯特]经典高档牛皮配料手包 白色
        .price
          %span.oldprice
            市场价：
            %s 629.00
          %span.price
            %strong> 麦包价：
            ￥155.00
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101032212.html", :target => "_blank"}
            %img{ :src => "http://img05.mbaobao.com/biyibi/201004/02/11010322/12/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101032212.html", :target => "_blank"} [比比]简洁经典系列翻盖单肩包 白色
        .price
          %span.oldprice
            市场价：
            %s 385.00
          %span.price
            %strong> 麦包价：
            ￥118.00
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101016813.html", :target => "_blank"}
            %img{ :src => "http://img06.mbaobao.com/langmei/201002/21/11010168/13/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101016813.html", :target => "_blank"} [浪美]超炫亮片摇滚风系列时尚两用包 粉红色
        .price
          %span.oldprice
            市场价：
            %s 355.00
          %span.price
            %strong> 麦包价：
            ￥118.00
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101016812.html", :target => "_blank"}
            %img{ :src => "http://img07.mbaobao.com/langmei/201002/21/11010168/12/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101016812.html", :target => "_blank"} [浪美]超炫亮片摇滚风系列时尚两用包 白色
        .price
          %span.oldprice
            市场价：
            %s 355.00
          %span.price
            %strong> 麦包价：
            ￥118.00
      %li
        .pic
          %a{:href => "http://www.mbaobao.com/pshow-1101052202.html", :target => "_blank"}
            %img{ :src => "http://img06.mbaobao.com/vemo/201003/30/11010522/02/s.gif"}/
        .title
          %a.pdtitle{:href => "http://www.mbaobao.com/pshow-1101052202.html", :target => "_blank"} [薇茉]甜美恋情系列优雅单肩包 粉蓝
        .price
          %span.oldprice
            市场价：
            %s 375.00
          %span.price
            %strong> 麦包价：
            ￥158.00
    %div{:style => "clear:both;"}
#activitybox_right
  #bbevent
    %h3.bbgtitle
      %a{:href => "http://www.mbaobao.com/events.html"}> 更多
      麦包包大事件
    #impevent
      %a.impeventpic{:href => "http://www.mbaobao.com/cps/4428", :target => "_blank"}
        %img{ :src => "http://images.mbaobao.com/activity/201006/21/index_events_she2.jpg"}/
      %h4
        %a{:href => "http://www.mbaobao.com/cps/4428", :style => "color: #ac0000;", :target => "_blank"} 麦包包赞助S.H.E演唱会
      %p
        麦包包作为此次演唱会唯一指定箱包品牌赞助商与S.H.E共同举杯预祝演唱会举办成功。
        %span
          %a{:href => "http://www.mbaobao.com/cps/4428", :target => "_blank"} [查看详情]
    %ul#othevent
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=29", :target => "_blank"} 网货品牌走T台
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=36", :target => "_blank"} 麦包包“光影之路”感动淘宝
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=15", :target => "_blank"} 拥抱麦包包-携手共创辉煌
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=34", :target => "_blank"} 麦•尚开启时尚之旅
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=23", :target => "_blank"} “全球十大网商”花落南湖区
      %li
        %a{:href => "http://www.mbaobao.com/news/list.php?action=view&id=33", :target => "_blank"} 慈善晚会麦包包捐赠引发高潮
  #jiangnanhui
    %a{:href => "/a-20100701200/", :target => "_blank"}
      %img{ :height => "70", :src => "http://images.mbaobao.com/activity/201007/02/banner_index.jpg", :width => "370"}/
  #hottalk
    %h3.bbgtitle
      热门评论：
      / <a href="">更多</a>
    %ul
      %li
        %a{:href => "http://www.mbaobao.com/pshow-1103044305.html", :rel => "nofollow", :target => "_blank"} 第一次购买，真的很不赖，物美价廉！有合...
        %span 2010-07-05
      %li
        %a{:href => "http://www.mbaobao.com/pshow-1103041102.html", :rel => "nofollow", :target => "_blank"} 蓝色的包包颜色很漂亮，质感也不错。包包...
        %span 2010-07-05
      %li
        %a{:href => "http://www.mbaobao.com/pshow-1104035607.html", :rel => "nofollow", :target => "_blank"} 和照片一样，很不错的包包！赞一个！
        %span 2010-07-05
      %li
        %a{:href => "http://www.mbaobao.com/pshow-1012342303.html", :rel => "nofollow", :target => "_blank"} 送给朋友的包包，挺不错的！继续支持中。...
        %span 2010-07-05
      %li
        %a{:href => "http://www.mbaobao.com/pshow-1102012910.html", :rel => "nofollow", :target => "_blank"} 送货很神速，包装很好，还送了个便签本和...
        %span 2010-07-05
  #subscription
    %form{:action => "http://www.mbaobao.com/edm_ok.php?action=add_edm", :method => "post"}
      %a.sublink{:href => "javascript:void(0);"}
        %img{ :src => "http://www.mbaobao.com/templates/default/images/new_index/sublinkpic.jpg"}/
      %h4 Email订阅最新特惠信息：
      %span
        %input.subbt{:type => "submit"}/
        %input#edm_email.subtext{:name => "email", :type => "text"}/

