#header
  .container_24
    .grid_24=navs

    .grid_24
      .grid_19.alpha
        .grid_19.alpha.omega
          .grid_8.alpha=logo
          .grid_11.omega=welcome
        .grid_19.alpha.omega=menus
      .grid_5.omega=telephone

    .grid_24
      .grid_20.alpha
        .grid_20.alpha.omega=keywords
        .grid_20.alpha.omega=search
      .grid_4.omega=car

.clear
/= render :partial => "pages/header"
/= render :partial => "pages/main"
/.container_operates.container_24
/= render :partial => "pages/footer/extra"
/= render :partial => "pages/footer/links"
/= render :partial => "pages/footer/company"
#tooltip.tooltip 
  
= javascript_include_tag 'focus'
