=content_tag_for :li, item , 'edit-width' => '960px', 'edit-height' => '570px', 'edit-type' => :focuses , 'edit-id' => item.id  do
  =link_to image_tag(item.image.url, :alt => item.name, :class => :image_editable, :id => id(item.image)), item.url, :target => :_blank
