//hide
$("#tooltip").trigger('cancle');

//insert
$(".slideshow li[rel_id='focus_#{params[:neighbor]}']").move('#{params[:direct]}', '#{escape_javascript( render(:partial => "focuses/item", :object => resource, :locals => {:item_counter => 0}))}');

//caption
$(".slideshow").data('slideshow').refresh_caption();
