.grid_19.alpha.omega.product_info
  .grid_11.alpha
    .pic
      =link_to image_tag(resource.photo.middle.url), resource.photo.big.url, :id => :zoom1, :class => 'cloud-zoom', :rel => 'zoomWidth: 317, zoomHeight: 350, adjustX: 2, adjustY:-1'
    .gallery
      -resource.photos.each do |photo|
        =link_to image_tag(photo.icon.url), photo.big.url, :class => 'cloud-zoom-gallery', :rel => "useZoom: 'zoom1', smallImage: '#{photo.middle.url}'"
  .grid_8.omega
    .title=s(resource.name)
    .attr
      售价:
      %span.price=resource.price
      元
    .attr
      .market_price
        市场价:
        =resource.market_price
    .attr
      编号:
      %span.number=resource.number
    .btns
      =link_to image_tag('templates/common/product/shopping_car.gif'), '#'
