.grid_19.alpha.omega.product_info
  .grid_11.alpha
    .pic
      =link_to image_tag(resource.photo.middle.url), resource.photo.big.url, :id => :zoom1, :class => 'cloud-zoom', :rel => 'zoomWidth: 317, zoomHeight: 350, adjustX: 2, adjustY:-1'
    .gallery
      -resource.photos.each do |photo|
        =link_to image_tag(photo.icon.url), photo.big.url, :class => 'cloud-zoom-gallery', :rel => "useZoom: 'zoom1', smallImage: '#{photo.middle.url}'"
  .grid_8.omega
    .title=editinplace(resource, :name)
    .attr
      售价:
      =editinplace(resource, :price, :class => :price)
      元
    .attr
      市场价:
      =editinplace(resource, :market_price)
      元
    .attr
      编号:
      =editinplace(resource, :number, :class => :number)
    .attr
      数量:
      %input#quantity(type='text' name='quantity' size=5 value=1)
    .btns
      -#采用ajax方式加入购物车，以便后台检查:数量是否超过，商品是否已经下架等(参考至麦包包)
      =link_to_function image_tag('templates/common/product/shopping_car.gif'), 'Car.add()', :title => '立即购买'
