= render :partial => "pages/header"

#content
  .container_24
    .grid_24.root
      .grid_5.alpha 分类
      .grid_19.omega
        %ul.category_product.products_list= render :partial => "pages/product/small", :collection => @products, :as => :product
