.container_16
  #photomaker
    =hidden_field_tag 'current'
    #menu
      %ul
        %li=link_to '', '#', :title => '添加文字', :class => :add, :id => :add_word
        %li=link_to '', '#', :title => '生成图片', :class => :generate, :id => :generate_image, :style => 'display:none'
        %li.separator
      %ul{:name => :font}
        %li=link_to '', '#', :title => '字体:微软雅黑', :value => :yahei, :class => :yahei
        %li=link_to '', '#', :title => '字体:华康海报', :value => :haibao, :class => :haibao
        %li=link_to '', '#', :title => '字体:华康柳叶', :value => :liuye, :class => :liuye
        %li=link_to '', '#', :title => '字体:方正卡通', :value => :katong, :class => :katong
        %li.separator
      %ul{:name => 'font-size'}
        %li=link_to '', '#', :title => '字体大小:12px', :value => '12px', :class => 'small'
        %li=link_to '', '#', :title => '字体大小:24px', :value => '24px', :class => 'middle'
        %li=link_to '', '#', :title => '字体大小:36px', :value => '36px', :class => 'big'
        %li.separator
      %ul.color{:name => :color}
        %li=link_to '', '#', :title => '字体颜色:红色', :value => '#E60012', :class => 'red'
        %li=link_to '', '#', :title => '字体颜色:绿色', :value => '#8ABC35', :class => 'green'
        %li=link_to '', '#', :title => '字体颜色:蓝色', :value => '#3C87C3', :class => 'blue'

    #panel
      .jqHandle.jqResize

  #preview

#log.container_16

:javascript
  $().ready(function(){
    //面板可修改大小
    $('#panel').jqResize('.jqResize').bind('drag.stop', function(){
      $('#generate_image').click();
    });

    var number = 0;
    //添加操作
    $('#add_word').click(function(){
      var word = $("<div class='editable jqDnR jqDrag word'>ShopQi</div>").appendTo('#panel');
      //修正:添加时文字会移至中间
      word.css('left', '0');
      //number为文字子项所在数组的序号
      word.attr('tmp_id', number++);

      //保留当前文字
      word.click(function(){
        var item = $(this);
        $('#current').val(word.attr('tmp_id'));
        //回显选中的文字参数
        $("#menu ul[name]").each(function(i){
          var name = $(this).attr('name');
          var value = item.attr('word-' + name);
          $('a', $(this)).removeClass('selected');
          $("a[value='" + value + "']", $(this)).addClass('selected');
        });
      });

      //可拖动
      word.jqDrag(null, '#panel').bind('drag.stop', function(){
        //修正:click会发送两次请求
        //$('#generate_image').click();
        $('#generate_image').dblclick();
      });

      //可编辑
      word.editable(
        //target为url时提交至服务器，为function则本地执行
        function(text){
          return text;
        },{
        //失焦时提交
        onblur : 'submit',
        //双击进入输入状态
        event  : 'dblclick',
        //input为inline,则form也应为inline,否则布局会乱
        cssclass : 'form_inline',
        callback : function(value, settings) {
          $('#generate_image').click();
        }
      });

      //初始化文字属性
      $("#menu ul[name]").each(function(i){
        var attribute = $("li:not(.label):first a", $(this));
        var name = $(this).attr('name');
        var value = attribute.attr('value');
        word.attr('word-' + name, value);
        //设置字体大小、颜色，字体暂不设置(浏览器没有这些字体)
        word.css(name, value);
        //$.jGrowl(attribute.attr('value'));
      });

      //设置当前文字
      word.click();
    });

    //生成图片
    $('#generate_image').click(function(){
      if($('.word').size() == 0)
        return;
      //面板参数
      var data = {
        image: {
          width: $('#panel').width(),
          height: $('#panel').height(),
          words: {}
        }
      };
      //文字参数
      $('.word').each(function(){
        var item = $(this);
        var word = {
          x: item.position().left,
          y: item.position().top,
          text: item.text(),
          tmp_id: item.attr('tmp_id'),
          id: item.attr('word-id')
        }
        $("#menu ul[name]").each(function(i){
          var name = $(this).attr('name')
          word[name] = item.attr('word-' + name);
        });
        data['image']['words'][item.attr('tmp_id')] = word;
      });

      var url = '/images';
      //更新
      if($('#panel').attr('image-id')){
        url += '/' + $('#panel').attr('image-id');
        data['_method'] = 'put';
      }
      $.post(url, data, null, 'script');
      $('#preview').html('正在生成图片');
    });

    //修改文字属性
    $('#menu ul[name] a').click(function(){
      var current_word = $(".word[tmp_id='" + $('#current').val() + "']");
      if(current_word[0]){
        var parent = $(this).parents('ul');
        $('a', parent).removeClass('selected');
        $(this).addClass('selected');
        var name = parent.attr('name');
        var value = $(this).attr('value');
        if(name == 'color' || name == 'font-size')
          current_word.css(name, value);
        current_word.attr('word-' + name, value);
        //立即生成图片
        $('#generate_image').click();
        if(name == 'font')
          current_word.css('font-family', value);
        //$.jGrowl('修改属性' + name + ':' + value);
      }else{
        $.jGrowl("请先点击最左边的按钮添加文字.");
      }
    });

  });
