//preview image
//$("#preview").html('#{escape_javascript( render(:partial => "images/preview", :object => resource))}');
//$.jGrowl('更新成功');

//preview_imag
var reload_image = $('#' + $('#relate_dom_id').val() + ' img')[0];
if(reload_image)
reload_image.src = '#{resource.url}?#{Time.now.to_i}';
