!!! Strict
%html{html_attrs('zh-CN')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title ShopQi在线文字图片合成
    = stylesheet_link_tag 'compiled/grid', 'compiled/text', 'compiled/photomaker', 'photomaker/jgrowl', 'photomaker/images', 'compiled/photomaker/fileuploader'
    = javascript_include_tag 'jquery', 'rails', 'inspect', 'photomaker/jgrowl', 'jeditable/jeditable', 'photomaker/jqDnR', 'photomaker/fileuploader'
    = csrf_meta_tag
  %body
    =yield
